body{
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
    background-color: #000000;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: white;
}

.container{
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title{
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle{
    color: #ffffff;
    margin-top: 5px;
}

.page-logo{
    width: 200px;
}

.alura-logo{
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
#notas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin: 0 auto;
    width: 50rem;
}
#notas div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    width: 20rem;
}
input{
    width: 3rem;
    height: 1rem;
}
button{
    margin-block: 2rem;
}

@media (max-width:845px) {
    #notas{
        grid-template-columns: 1fr;
        margin: auto;
        justify-items: center;
        width: 90%;
    }    
}