@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

:root{
    --corFundo: #8D58E1;
    --corCabecalho: #2F3676;
    --corFundoPrincipal:#F2F2F2;
    --corFundoRodape:#DDE3E9;
    --corBotao:#2F3676;
    --corFundoInput:#DDE3E9;
    --fonte-destaque:'Roboto', sem serifa;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--corFundo);
    font-family: var(--fonte-destaque);
}
.aparecer{ 
    display: block;
}
.desaparecer{
    display: none;
}

div.principal{
    width: 600px;
    background-color: var(--corFundoPrincipal);
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 1%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.541);
}
div.principal header{
    position: relative;
    background-color: var(--corCabecalho);
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 150%;
}
div.principal header div{
    padding: 6%;
    display: grid;
    color: white;
    font-size: 1.2em;
}
div.principal header img{
    position: absolute;
    right: 10%;
    top: 2%;
}
div.principal main section.form{
    margin: 5%;
}
div.principal main section.form div{
    display: flex;
    align-items: center;
}
div.principal main section.form div  div.produtos{
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.principal main section.form div,div.principal main section.form div div.produtos label,div.principal main section.form div.produtos legend{
    padding: 1%;
}
legend, .obs{
    padding-top: .5rem;
}
div.principal main section.form button{
    background-color: var(--corBotao);
    color: white;
    font-size: 1em;
    width: 40px;
    text-align: center;
    margin: 0% 1%;
    display: inline-block;
}

div.principal main section.form input[type=number]{
    background-color: var(--corFundoInput);
    width: 3rem;
    height: 15px;
    border-radius: 5px;
    padding: 2px;
}
.divAdesivos{
    display: flex;
}
.obs{
    display: block;
    padding-bottom: .5rem;
}
div.principal main section#nota-fiscal{
    background-color: white;
    width: 600px;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 2% 0;
    font-weight: bolder;
    padding-bottom: 2rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.541);
}

.colgroupProduto{
    background-color: rgba(255, 255, 255, 0.459);
}
.colgroupValor{
    text-align: right;
}
div.principal main section#nota-fiscal table{
    background-color: rgba(0, 0, 0, 0.096);
    width: 90%;
    margin: 5%;
    padding: 2% 0;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.principal main section#nota-fiscal table caption{
    background-color: gray;
    padding: 3% 0;
    font-size: 1.7em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}
div.principal main section#nota-fiscal table thead,div.principal main section#nota-fiscal table tfoot tr{
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
}
div.principal main section#nota-fiscal table tbody tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.459);    
}
div.principal main section#nota-fiscal table tbody tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.37);    
}
div.principal main section#nota-fiscal p{
    font-size: 1.5rem;
    padding-top: 1rem;
}
#btn-compra,#btn-recusar{
    background-color: var(--corBotao);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
div.principal main section.form textarea{
    background-color: var(--corFundoInput);
    display: block;
    border-radius: 5px;
    padding: 2%;
}
footer{
    height: 100px;
    background-color: var(--corFundoRodape);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
footer span{
    position: absolute;
    border-radius: 50px;
    top: 10%;
    padding: 1% 5%;
    margin-left: .5%;
    width: 430px;
    word-wrap: break-word;
}
footer button{
    background-color: var(--corBotao);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 40%;
    right: 5%;
}
.preco{
    padding-bottom: 1%;
    font-size: 1.1em;
    color: black;
    background-color: var(--corFundoPrincipal);
}

@media(max-width: 620px){
    div.principal header{
        height: 140px;
    }
    div.principal, div.principal main section#nota-fiscal{
        width: 80%;
    }
    div.principal, div.principal main section#nota-fiscal table thead tr, div.principal main section#nota-fiscal table tbody tr{
        font-size: .9rem;
    }
    div.principal main section#nota-fiscal table thead tr th, div.principal main section#nota-fiscal table tbody tr td{
        padding-inline: .4rem;
    }
}

@media(max-width: 362px){
    div.principal header{
        height: 100px;
    }
    div.principal main section#nota-fiscal table thead tr th:nth-child(3), div.principal main section#nota-fiscal table tbody tr td:nth-child(3){
        display: none;
    }
    #button{
        display: grid;
        gap: 1rem;
        place-content: center;
    }
    #button button{
        width: 100%;
    }
    div.principal header img{
        display: none;
    }
}
@media(max-width: 284px){
    div.principal main section#nota-fiscal table thead tr th:nth-child(2), div.principal main section#nota-fiscal table tbody tr td:nth-child(2){
        display: none;
    }
}
@media(max-width: 284px){
    div.principal main section#nota-fiscal table thead tr th:nth-child(1), div.principal main section#nota-fiscal table tbody tr td:nth-child(1){
        display: none;
    }
}