:root{
    --font-branco: white;
    --font-preto: black;
    --fundo: white;
    --fundo-dias: black;
    --fundo-active: rgba(0, 153, 255, 0.877);
    --fundo-transparente: rgba(0, 0, 0, 0.76);
    --fundo-programa: rgba(0, 0, 0, 0.4);
    --fundo-red: red;
    --fundo-cinza: grey;
    --fundo-pedido: rgba(4, 0, 255, 0.623);
    --select-fundo: gray;
    --input-fundo: white;
    --player-fundo : black;
    --botao-confirma: green;
    --botao-excuir: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-branco);
}

html, body{
    overflow-x: hidden;
}

body{
    height: 100vh;
    background-size: cover;
    background: black url('../img/fundo.jpg') no-repeat fixed center center;
    background-color: var(--fundo);
}

/* ANUNCIOS */
.comercial{
    width: 10px;
    height: 250px;
    background-color: white;
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    place-content: center;
}

.comercial p{
    color: var(--font-preto);
}

.comercio-form-top, .comercio-form-bottom {
    margin: auto;
}

.comercio-form-top{
    margin-bottom: 2rem;
}

.comercio-form-bottom{
    margin-top: 2rem;
}

/* HEADER - PLAYER */

#audio-principal{
    position: fixed;
    width: 100vw;
    height: 5rem;
    bottom: 0;
    background-color: var(--fundo-dias);
    z-index: 99;
}

#audio-comandos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#img-audio{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: var(--fundo-dias);
    z-index: 99;
}

#audio-imagem{
    padding-top: .4rem;
    width: 4rem; 
} 

#audio-play-pause{
    display: flex; 
    align-items: center; 
    z-index: 99;
}

#like{
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    padding-right: 2.5rem;
    cursor: pointer;
}
    
#like:hover::after{
    content: 'Deixe seu like no programa que está no ar!';
    position: absolute;
    top: 2.5rem;
    left: -5rem;
    width: 22rem;
    background-color: var(--fundo-transparente);
}

#like img{
    width: 1.8rem;
    position: absolute;
    top: .1rem;
}

#coracao-cheio{
    display: none;
}

#audio-play{
    width: 0;
    height: 0;
    border-left: .7rem solid transparent;
    border-right: .7rem solid transparent;
    border-bottom: 1rem solid white;
    transform: rotate(90deg);
}

#audio-pause{
    display: none; 
}
    
#audio-pause div{
    width: .3rem; 
    height: 1.2rem;
    background-color: var(--font-branco);
}

#audio-pause div:nth-child(1){
    margin-right: .2rem; 
}

#audio-input-div{
    background-color: var(--fundo-dias);
    padding: .5rem;
    z-index: 99;
}

#audio-fundo{
    position: absolute;
    top: 1.5rem;
    width: 20%;
    border-radius: .4rem;
    height: 1.5rem;
    z-index: 1;
}

#audio-frase{
    white-space: nowrap;
    position: absolute;
    left: 100%;
    animation: scroll-left 20s linear infinite;
    top: 1.6rem;
    color: var(--font-branco);
}

@keyframes scroll-left {
    from { left: 100%; }
    to { left: -100%; }
}

/* HEADER - RADIOS */
#radios{
    background-color: var(--player-fundo);
    display: flex;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.button-radios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 10rem;
    cursor: pointer;
}
.button-radios img{
    width: 4rem;
}

/* HEADER - NAVEGAÇÃO */
#navegacao{
    background-color: red;
    background-color: var(--fundo-transparente);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navegacao img{
    width: 50vw;
    padding-block: 1rem;
}

#navegacao .comercial{
    width: 93%;
}

#navegacao nav{
    margin: 0 3rem;
}

#navegacao nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4rem;
    margin: 3rem;
}

#navegacao nav ul li{
    cursor: pointer;
    font-size: 1rem;
}

#navegacao nav ul li a{
    text-decoration: none;
}

#navegacao nav ul li a:hover{
    text-decoration: underline;
}

/* MAIN */
main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    background-color: var(--fundo-transparente);
}

/* MAIN - SECTION */
section{
    grid-column: 2;
}

/* MAIN - SECTION - REDES SOCIAIS */
#redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

#redes-sociais .logo-redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#redes-sociais .logo-redes a img{
    width: 4rem;
}

#redes-sociais h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
 
/* MAIN - SECTION - PARADA */
#parada{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

#parada h2{
    font-size: 2.5rem;
    color: var(--font-branco);
    cursor: pointer;
}

#parada .parada{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

#parada .parada div h3, #parada .parada div .interprete p{
    color: var(--font-preto);
}

#parada .parada > div{
    display: grid;
    grid-template-columns: 200px 200px;
    background-color: var(--fundo);
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--font-preto);
}

#parada .parada div h3{
    font-size: 2rem;
    margin: auto;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.posicao-um{
    background-color: gold;
}

.posicao-dois{
    background-color: silver;
}

.posicao-tres{
    background-color: brown;
}

.posicao-quatro{
    background-color: orange;
}

.interprete{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block: 3rem;
}

.interprete p{
    text-decoration: underline;
    padding-right: 1rem;
}

.interprete p:nth-child(1){
    font-weight: bolder;
}

/* MAIN - SECTION - PROGRAMAÇÃO */
#programacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

#nav-programacao{
    display: flex;
    justify-content: center;
}

#nav-programacao ul{
    list-style: none;
    display: flex;
    width: 80vw;
    font-size: .7rem;
    padding: 1rem;
}

#nav-programacao ul li{
    background-color: var(--fundo-dias);
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all .5s;
}

#nav-programacao ul li:not(:last-child){
    border-right: 2px solid white;
}
    
#nav-programacao ul li:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#nav-programacao ul li:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#nav-programacao ul li:hover{
    background-color: var(--fundo-active);
    color: var(--font-preto);
}

#div-programas{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

#div-programas > div {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 5px 5px 5px var(--font-preto);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#div-programas > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fundo-programa);
    border-radius: 20px;
    z-index: 1;
}

#div-programas > div * {
    position: relative;
    z-index: 2;
}

#div-programas > div span{
    background-color: var(--fundo-red);
    width: max-content;
    border-radius: 15px;
    padding: .4rem .5rem;
    font-size: .8rem;
    margin-bottom: .5rem;
}

#div-programas > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div-programas > div > div img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

/* MAIN - SECTION - PROGRAMA */
#programa{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#programa > div{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

#programa > div:nth-child(2){
    background-color: var(--fundo-transparente);
    margin-bottom: 1rem;
}

#programa > div img{
    width: 200px;
}

/* MAIN - SECTION - LOCUTOR */
#locutor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#locutor > div{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

#locutor > div:nth-child(2){
    background-color: var(--fundo-transparente);
}

#locutor > div  img{
    width: 200px;
    height: 200px;
}

#locutor > div > div > div{
    display: flex;
    gap: 1rem;
}

#locutor > div > div > div ul li{
    font-size: 1rem;
    list-style: none;    
}

/* MAIN - SECTION - POSTS */
#posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-block: 1rem;
}

.post{
    background-color: var(--fundo-transparente);
    width: 100%;
}

.post img{
    width: 100%;
}

.post h2, .post p, .post button{
    padding: 1rem;
}

.post p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.post button{
    background-color: var(--fundo);
    color: black;
    border: none;
    margin: 1rem;
    padding-inline: 2rem;
    display: grid;
    place-content: center;
    background-color: green;
}

/* MAIN - SECTION - SECTION - POST */
#section-post{
    display: flex;
    justify-content: center;
}

#btn-mais{
    height: 2rem;
    padding: 0 2rem ;
    background-color: var(--botao-confirma);   
    border: none;
}

/* MAIN - SECTION - POST */
section#post{
    display: flex;
    margin-block: 1rem;
    justify-content: center;
    width: 100%;
}

#post > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--fundo-transparente);
}

.imagem-titulo{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
}

.imagem-post{
    width: 100%;
} 

/* MAIN - SECTION - FORMULARIO */ 
#formulario{
    padding-bottom: 1rem;
}

#formulario fieldset{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    place-content: center;
    gap: 10px;
}

#formulario fieldset div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: .2rem;
}

#formulario-dados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#formulario-dados div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

#formulario-dados div label{
    width: 150px;
}

#formulario-localizacao div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#formulario-localizacao div select, #formulario-localizacao div input{
    width: 250px;
}

#formulario-pedido{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#input-pedido{
    display: flex;
    flex-direction: column;
}

#input-pedido div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: var(--botao-confirma);
    height: 1.5rem;
}

button, select, input[type='text'], input[type='number']{
    border: none;
    padding: .2rem 1rem;
}

button:hover{
    background-color: var(--botao-confirma);
    color: black;
}

select{
    background-color: var(--select-fundo);
    width: 250px;
}

.pedidos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.pedidos div{
    width: 100%;
    display: flex;
    justify-content: center;
}

select, button{
    border-radius: 50px;
}

input[type='text'], input[type='number']{
    width: 250px;
    background-color: var(--input-fundo);
    border-radius: 10px;
    color: var(--font-preto);
}

input[type='number']{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 0;
}

.excluir{
    background-color: var(--fundo-red);
}

#formulario > span{
    background-color: var(--fundo-red);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

/* MAIN - SECTION - FORMULARIO - CONFIRMAÇÃO */
#pedido{
    padding-bottom: 1rem ;
}

#pedido div{
    background-color: var(--fundo-pedido);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

#pedido table{
    width: 60%;
    margin: auto;
}
    
#pedido table thead tr th{
    text-align: left;
}

/* FOOTER */
footer{
    background-color: gray;
    padding: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

span, footer p, footer p strong{
    color: var(--font-preto);
}

@media(min-width: 900px){
    /* HEADER - NAVEGAÇÃO */
    #navegacao nav ul li{
        font-size: 2rem;
    }
    /* MAIN - SECTION - PROGRAMAÇÃO */
    #nav-programacao ul{
        list-style: none;
        display: flex;
        justify-content: center;
        width: 80vw;
        font-size: 1.5rem;
        padding: 1rem;
    }

    #div-programas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* MAIN - SECTION - PROGRAMA */
    #programa{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    /* MAIN - SECTION - Locutor */
    #locutor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        direction: rtl;
    }

    /* MAIN - SECTION - POSTS */
    #posts{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* MAIN - SECTION - FORMULARIO */
    #formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: flex-start;
    }
}

@media(max-width: 432px){
    /* HEADER - NAVEGAÇÃO */
    #navegacao nav ul{
        gap: 1rem;
        width: 90vw;
    }
    /* MAIN - SECTION - PARADA */
    #parada .parada > div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        width: 200px;
    }

    #parada .parada > div > div p{
        text-align: center;
    }

    /* MAIN - SECTION - PROGRAMAÇÃO */
    #nav-programacao ul{
        flex-wrap: wrap;
    }

    #nav-programacao ul li:first-child{
        border-radius: 0;
    }

    #nav-programacao ul li:last-child{
        border-radius: 0;
    }

    /* MAIN - SECTION - PROGRAMA */
    #programa div{
        display: flex;
        flex-wrap: wrap;
    }

    /* MAIN - SECTION - Locutor */
    #locutor div{
        display: flex;
        flex-wrap: wrap;
    }

    /* MAIN - SECTION - POST */
    section#post div{
        display: flex;
        flex-direction: column;
    }

    /* MAIN - SECTION - FORMULARIO */
    #formulario fieldset{
        display: flex;
        flex-direction: column;
    }

    #formulario fieldset div div{
        justify-content: center;    }

    #input-pedido div div{
        display: flex;
        flex-direction: column;
    }
    
}
