:root{
    --font-principal: white;
    --font-segundario: black;
    --fundo: white;
    --fundo-principal: black;
    --fundo-active: rgba(0, 153, 255, 0.877);
    --fundo-transparente: rgba(0, 0, 0, 0.76);
    --fundo-programa: rgba(0, 0, 0, 0.4);
    --fundo-segundario: red;
    --fundo-footer: grey;
    --fundo-pedido: rgba(4, 0, 255, 0.623);
    --select-fundo: gray;
    --input-fundo: white;
    --player-fundo : black;
    --botao-confirma: green;
    --botao-excuir: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-principal);
}

html, body{
    overflow-x: hidden;
}

/* PUBLICIDADE */
.publicidade{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
}

.publicidade div{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo);
}

.publicidade div p{
    color: var(--font-segundario);
}

/* HEADER - PLAYER */
#audio-principal{
    position: relative;
    position: fixed;
    width: 100vw;
    height: 5rem;
    bottom: 0;
    background-color: var(--fundo-principal);
    z-index: 99;
}

#audio-comandos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#img-audio{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: var(--fundo-principal);
    z-index: 99;
}

#audio-imagem{
    padding-top: .4rem;
    width: 4rem; 
} 

#audio-play-pause{
    display: flex; 
    align-items: center; 
    z-index: 99;
}

#like{
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    padding-right: 2.5rem;
    cursor: pointer;
}
    
#like:hover::after{
    content: 'Deixe seu like no programa que está no ar!';
    position: absolute;
    top: 2.5rem;
    left: -5rem;
    width: 22rem;
    background-color: var(--fundo-transparente);
}

#like i{
    color: var(--fundo-segundario);
    font-size: 2rem;
}

#audio-play{
    width: 0;
    height: 0;
    border-left: .7rem solid transparent;
    border-right: .7rem solid transparent;
    border-bottom: 1rem solid white;
    transform: rotate(90deg);
}

#audio-pause{
    display: none; 
}
    
#audio-pause div{
    width: .3rem; 
    height: 1.2rem;
    background-color: var(--fundo);
}

#audio-pause div:nth-child(1){
    margin-right: .2rem; 
}

#audio-input-div{
    background-color: var(--fundo-principal);
    padding: .5rem;
    padding-right: 1rem;
    z-index: 99;
    display: flex;
    flex-direction: row-reverse;
}

#audio-input-div i{
    font-size: 2rem;
}

#audio-input-div:hover input[type='range'],
#audio-input-div input[type='range']:hover{
    display: block;
    opacity: 1;
    pointer-events: auto;
}

#audio-input-div input[type='range'] {
    z-index: 999;
    position: absolute;
    top: -3.5rem;
    right: -2rem;
    transform: rotate(90deg);
    border-radius: 1rem;
    -webkit-appearance: none; 
    background: var(--fundo-active);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#audio-input-div input[type='range']::-webkit-slider-runnable-track {
    height: 0.4rem;
    background: var(--fundo-principal) 0%, var(--font-principal);
    border-radius: 0.3rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
#audio-input-div input[type='range']::-moz-range-track {
    height: 0.4rem;
    background: linear-gradient(90deg, var(--fundo-active) 0%, var(--font-principal) 100%);
    border-radius: 0.3rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

#audio-input-div input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--font-active);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border: 2px solid var(--fundo-active);
    margin-top: -0.35rem;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
#audio-input-div input[type='range']::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: var(--font-active);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border: 2px solid var(--fundo-active);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#audio-input-div input[type='range']::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background-color: var(--fundo-active);
}
#audio-input-div input[type='range']::-moz-range-thumb:hover {
    transform: scale(1.2);
    background-color: var(--fundo-active);
}

#audio-input-div input[type='range']:focus {
    outline: none;
}

#audio-fundo{
    position: absolute;
    top: 1.5rem;
    width: 20%;
    border-radius: .4rem;
    height: 1.5rem;
    z-index: 1;
}

#audio-frase{
    white-space: nowrap;
    position: absolute;
    left: 100%;
    animation: scroll-left 20s linear infinite;
    top: 1.6rem;
    color: var(--font-principal);
}

@keyframes scroll-left {
    from { left: 100%; }
    to { left: -100%; }
}

/* HEADER - RADIOS */
#radios{
    background-color: var(--fundo-principal);
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    padding-top: 6rem;
}

.button-radios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
}

.button-radios img{
    width: 4rem;
}

/* HEADER - NAVEGAÇÃO */
#navegacao{
    background-color: var(--fundo-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

#navegacao img{
    width: 60px;
    height: 80px;
    padding-block: 1rem;
}

#navegacao div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

#navegacao div nav ul{
    list-style: none;
    position: absolute;
    right: 0;
    top: 3rem;
    background-color: var(--fundo-transparente);
    width: 100vw;   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem; 
    padding-block: 1rem;
}

#navegacao div nav ul li a{
    text-decoration: none;
    margin: 1rem;
}

#navegacao div nav ul li a:hover{
    text-decoration: underline;
}

.fa-bars{
    font-size: 2rem;
}

/* MAIN */
main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    background-color: var(--fundo-transparente);
}

/* MAIN - SECTION */
section{
    grid-column: 2;
}

/* MAIN - SECTION - REDES SOCIAIS */
#redes-sociais{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

#redes-sociais #logo-redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#logo-redes{
    padding-top: 100px;
}

#redes-sociais #logo-redes li{
    list-style: none;
}

#redes-sociais #logo-redes li a i{
    font-size: 3rem;
    color: var(--font-principal);
}

#redes-sociais h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
 
/* MAIN - SECTION - PARADA */
#parada{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

#parada h2{
    font-size: 2.5rem;
    color: var(--font-principal);
    cursor: pointer;
}

#h2-parada{
    padding-top: 100px;
}

#parada .parada{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

#parada .parada div h3, #parada .parada div .interprete p{
    color: var(--font-segundario);
}

#parada .parada > div{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    background-color: var(--fundo);
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--font-segundario);
}

#parada .parada div h3{
    font-size: 2rem;
    margin: auto;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.interprete{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block: 3rem;
}

.interprete p{
    text-decoration: underline;
    padding-right: 1rem;
}

.interprete p:nth-child(1){
    font-weight: bolder;
}

/* MAIN - SECTION - PROGRAMAÇÃO */
#programacao{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

#nav-programacao{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#nav-programacao ul{
    list-style: none;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: .7rem;
}

#nav-programacao ul li{
    background-color: var(--fundo-principal);
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#nav-programacao ul li:not(:last-child){
    border-right: 2px solid white;
}
    
#nav-programacao ul li:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#nav-programacao ul li:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#nav-programacao ul li:hover{
    background-color: var(--fundo-active);
    color: var(--font-segundario);
}

#div-programas{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

#div-programas > div {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-shadow: 5px 5px 5px var(--font-segundario);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#div-programas > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fundo-programa);
    border-radius: 20px;
    z-index: 1;
}

#div-programas > div * {
    position: relative;
    z-index: 2;
}

#div-programas > div span{
    background-color: var(--fundo-segundario);
    width: max-content;
    border-radius: 15px;
    padding: .4rem .5rem;
    font-size: .8rem;
    margin-bottom: .5rem;
}

#div-programas > div > div{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-bottom: .1rem;
    background-color: re;
}

#div-programas > div > div img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding-bottom: .1rem;
}

.nome-programa, .nome-locutor{
    cursor: pointer;
    padding: .1rem;
}

.nome-programa:hover, .nome-locutor:hover{
    background-color: var(--fundo-transparente);
}

#div-programas > div > p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

/* MAIN - SECTION - PROGRAMA */
#programa{
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding-top: 100px;
}

#programa > div{
    display: grid;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

#programa > div:nth-child(1){
    background-color: var(--fundo-transparente);
    margin-bottom: 1rem;
}

#programa > div img{
    width: 100%;
}

.locutor-single{
    cursor: pointer;
}

.locutor-single:hover{
    background-color: var(--fundo-active);
    color: var(--font-segundario);
}

/* MAIN - SECTION - LOCUTOR */
#locutor{
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding-top: 100px;
}

#locutor > div{
    display: grid;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

#locutor > div:nth-child(1){
    background-color: var(--fundo-transparente);
    display: grid;
    grid-template-columns: 1fr;
}

#locutor > div img{
    width: 100%;
}

#locutor > div > div > div{
    display: flex;
    gap: 1rem;
}

#locutor > div > div > div ul li{
    font-size: 1rem;
    list-style: none;    
}

.programa-single{
    cursor: pointer;
    padding: .2rem;
}

.programa-single:hover{
    background-color: var(--fundo-active);
    color: var(--font-segundario);
}

/* MAIN - SECTION - POSTS */
#posts{
    display: none;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 1rem;
}

#h2-posts{
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

#posts div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.post{
    background-color: var(--fundo-transparente);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.post img{
    width: 100%;
}

.div-social-Midias{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly;
}

.post h2, .post p, .post button{
    padding: 1rem;
}

.post > div:nth-child(3) p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.post button{
    background-color: var(--fundo);
    color: black;
    border: none;
    margin: 1rem;
    padding-inline: 2rem;
    display: grid;
    place-content: center;
    background-color: green;
}

.social-Midias{
    cursor: pointer;
    padding: .1rem;
}

.social-Midias:hover{
    background-color: var(--fundo-transparente);
}

/* MAIN - SECTION - SECTION - POST */
#section-post{
    display: none;
    justify-content: center;
}

#section-post #btn-mais{
    height: 2rem;
    padding: 0 2rem ;
    background-color: var(--botao-confirma);   
    border: none;
}

/* MAIN - SECTION - POST */
#post{
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    justify-content: center;
    width: 100%;
}

#post #div-post{
    padding-top: 100px;
}

#post > div > div{
    background-color: var(--fundo-transparente);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

.imagem-titulo{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.imagem-post{
    width: 100%;
} 

/* MAIN - SECTION - SOCIAL MIDIA */
#social-midia{
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding-top: 100px;
}

#social-midia > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

#social-midia > div:nth-child(1){
    background-color: var(--fundo-transparente);
}

#social-midia > div img{
    width: 100%;
}

#social-midia > div > div > div{
    display: flex;
    gap: 1rem;
}

#social-midia > div > div > div ul li{
    font-size: 1rem;
    list-style: none;    
}

.materia-single{
    cursor: pointer;
    padding: .2rem;
}

.materia-single:hover{
    background-color: var(--fundo-active);
    color: var(--font-segundario);
}

/* MAIN - SECTION - FORMULARIO */ 
#formulario{
    display: none;
    flex-direction: column;
    padding-bottom: 1rem;
}

#form{
    padding-top: 100px;
}

#formulario > div:nth-child(1){
    margin-top: 100px;
}

#formulario fieldset{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    place-content: center;
    gap: 10px;
}

#formulario fieldset div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: .2rem;
}

#formulario-dados{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#formulario-dados div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#formulario-localizacao div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#formulario-pedido{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#input-pedido{
    display: flex;
    flex-direction: column;
}

#input-pedido div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#formulario-botoes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#formulario-botoes button{
    width: 47%;
}

button{
    background-color: var(--botao-confirma);
    height: 1.5rem;
}

button, select, input[type='text'], input[type='number'], input[type='email']{
    border: none;
    padding: .2rem 1rem;
}

button:hover{
    background-color: var(--botao-confirma);
    color: black;
}

select{
    background-color: var(--select-fundo);
    width: 250px;
}

.pedidos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.pedidos div{
    width: 100%;
    display: flex;
    justify-content: center;
}

select, button{
    border-radius: 50px;
}

input[type='text'], input[type='number'], input[type='email']{
    width: 250px;
    background-color: var(--input-fundo);
    border-radius: 10px;
    color: var(--font-segundario);
}

input[type='number']{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 0;
}

.excluir{
    background-color: var(--fundo-segundario);
}

#formulario > span{
    background-color: var(--fundo-segundario);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

/* MAIN - SECTION - FORMULARIO - CONFIRMAÇÃO */
#pedido{
    padding-bottom: 1rem ;
}

#pedido div{
    background-color: var(--fundo-pedido);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
}

#pedido table{
    width: 60%;
    margin: auto;
}
    
#pedido table thead tr th{
    text-align: left;
}

/* FOOTER */
footer{
    background-color: var(--fundo-footer);
    padding: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

span, footer p, footer p strong{
    color: var(--font-segundario);
}

/* Desktop */
@media (min-width: 768px) {
    .publicidade{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #navegacao nav{
        margin: 0 3rem;
    }

    #navegacao nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: .5rem;
    }

    #navegacao nav ul li{
        text-align: center;
        cursor: pointer;
        font-size: 1rem;
    }

    #navegacao nav ul li a{
        text-decoration: none;
    }

    #navegacao nav ul li a:hover{
        text-decoration: underline;
    }

    #parada .parada, #div-programas, #programa > div, #locutor > div:nth-child(1), #posts div, #social-midia > div, #formulario{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 

    .post{
        display: grid;
        grid-template-rows: 5fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 !important;
    }
    
    .post > div:nth-child(1){
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        display: flex !important;
        flex-direction: column;
        gap: 0 !important;
    }
    
    .post > div:nth-child(1) div{
        flex-direction: column  !important;
        gap: .1rem !important;
    }
    
    .post > div:nth-child(2){
        grid-row:  1 / 4;
        grid-column: 2 / 3;
    }
    
    .post > div:nth-child(3){
        grid-row:  4 / 5;
        grid-column: 1 / 3;
        align-items: center !important;
    }

    #post > div > div{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #programa, #locutor, #social-midia{
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #programa > div:nth-child(1), #locutor > div:nth-child(1), #social-midia > div:nth-child(1){
        flex-direction: row;
    }

    #programa > div:nth-child(2), #locutor > div:nth-child(2), #social-midia > div:nth-child(2){
        margin-top: 0px;
    }
    
    #locutor, #locutor > div:nth-child(1){
        direction: rtl;
    }


    #div-h2, #locutor div div div{
        direction: ltr;
    }

    #posts div{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .post{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70% auto;
    }
    
    #formulario{
        flex-direction: row;
        gap: 1rem;
    } 

    #formulario > div:nth-child(2){
        margin-top: 110px;
    }
}

/* Desktop maior que 1000 */
@media (min-width: 1000px) {
    .publicidade{
        grid-template-columns: repeat(3, 1fr);
    }
    
    #posts .publicidade, #programa .publicidade, #social-midia .publicidade{
        grid-template-columns: repeat(3, 1fr);
    }

    #post .publicidade div{
        background-color: var(--fundo);
    }
        
    #posts .publicidade div p{
        display: flex;
        justify-content: center;
    }

    #parada .parada, #div-programas{
        grid-template-columns: repeat(3, 1fr);
    }

    .post{
        grid-template-rows: 65% auto;
    }

    #formulario-botoes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #formulario-botoes button{
        width: 47%;
    }
}