main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div{
    /* display: flex; */
}

img{
    width: 20px;
    display: none;
}

table tbody tr td:nth-child(6):hover{
    background-color: red;
}

.adiciona{
    display: block;
    width: 200px;
}
