*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #202124;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 6px 14px;
}

.caixa-icone{
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.caixa-icone:hover{
    background-color: rgba(60, 64, 67, 0.08);
    border-radius: 50%;
}

h1{
    color: red;
}

.logo-google{
    height: 92px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.link-cabecalho{
    color: #000000de;
}

.icone-produtos{
    height: 24px;
    fill: #5f6368;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.caixa-input{
    width: 583px;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 10px 14px;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
}

.caixa-input:hover, .caixa-input:focus-within{
    box-shadow: 0 1px 6px rgba(37, 33, 36, .28);
    border-color: transparent;
}

input{
    width: 100%;
    border: none;
    height: 22px;
    outline: none;
}

.icone-input{
    width: 20px;
    min-width: 20px;
    fill: #9aa0a6;
}

.caixa-icones{
    display: flex;
    align-items: center;
    gap: 16px
}

.icone-teclado{
    width: 19px;
}

.caixa-teclado, .caixa-microfone, .caixa-camera, .caixa-icone{
    cursor: pointer;
    position: relative;
}

.caixa-teclado::after, .caixa-microfone::after, .caixa-camera::after, .caixa-icone::after{
    display: none;
    background-color: #4f5355;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    position: absolute;
    width: max-content;
    left: 50%;
    transform: translate(-50%, 130%);
    bottom: 0;
}

.caixa-teclado:hover::after, .caixa-microfone:hover::after, .caixa-camera:hover::after, .caixa-icone:hover::after{
    display: block;
}

.caixa-teclado:hover::after{
    content: 'Ferramenta de introdução';
} 

.caixa-microfone:hover::after{
    content: 'Pesquisa por voz';
}

.caixa-camera:hover::after{
    content: 'Pesquisa por imagem';
}

.caixa-icone:hover::after{
    content: 'Google Apps';
}
.icone-colorido{
    width: 24px;
}

.caixa-botoes{
    display: flex;
    gap: 8px;
}

.botao{
    border-radius: 4px;
    background: #f8f9fa;
    margin: 0px 8px;
    padding: 9px 23px;
    font-size: 14px;
    border-color: transparent;
    cursor: pointer;
}

.botao:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: 1px solid #dadca0;
}

.botao--entrar{
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    border-radius: 4px;
    background: #1a72e8;
    color: white;
}

.botao--entrar:hover{
    background-color: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15), 0 1px 2px 1px rgba(60, 64, 67, 0.3);
    border-color: transparent;
    text-decoration: none;
}

.caixa-disponipilizar{
    color: #4d5156;
    font-size: 13px;
    display: flex;
    gap: 5px;
    margin-bottom: 10vh;
}

.link-disponipilizar{
    color: #1a0dab;
}

footer{
    background-color: #f2f2f2;
}

.caixa-rodape{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.caixa-rodape--borda{
    border-bottom: 1px solid #dadce0;
}

.caixa-links{
    display: flex;
    gap: 15px;
}
