*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, black 0%, blue 100%) no-repeat;
    height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: .5rem;
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 10px;
}
main div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}
main div img{
    width: 8rem;
}
main p{
    color: white;
    text-align: center;
    padding: 3rem;
}
main button{
    padding: 1rem 1rem;
    border: none;
    background: linear-gradient(90deg, rgba(255, 166, 0, 0.527) 0%, orange 100%);
    border-radius: 50rem;
}
.cartaMaior{
    transform: scale(1.2) rotate(-5deg);
}