*{
    margin: 0;
    padding: 0;
}
:root{
    --degrade: linear-gradient(90deg, #000000 5%,  #FAD163 33% 66% , #000000 95%) 1;
}
body{
    background-image: url('../img/libertadores.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}
h1{
    margin-top: 30px;
}
h1, h2, h3{
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.308);
}
span{
    color: white;
}
main{
    background-color: rgba(0, 0, 0, 0.89);
}
table{
    width: 30%;
    border-collapse: collapse;
    margin: 10px;
}
caption{
    font-size: 1.5em;
    padding: .5em 0;
}
table thead tr th{
    padding: .5em;
    font-size: .8em;
}
table tbody tr td:nth-child(2){
    width: 20px;
}
table tbody tr td:nth-child(3){
    text-align: left;
}
caption ,table thead tr th, table tbody tr td{
    border-bottom: 3px solid #FAD163;     
    border-image: var(--degrade);
    text-align: center;
}
.c-1{
    width: 5%;
}
.foto{
    margin: 0px;
    width: 30px;
}
.grupos{
    display: flex;
    justify-content: space-between;
}
#celular{
    display: flex;
    align-items: center;
}
#jogos{
    display: flex;
}
#jogos table{
    width: 100%;
}
#jogos table caption {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: .05em;
}
#jogos table tr td {
    width: 35px;
    text-align: center;
}
input {
    width: 30px;
}
#jogosGrupos{
    display: flex;
    justify-content: start;
}
#sulAmericana, #libertadores{
    display: flex; 
    justify-content: space-around;
}
label{
    padding: 0 15px;
}
#quartasSulAmericanaEsquerda, #quartasSulAmericanaDireita, #semiSulAmericanaEsquerda, #quartasLibertadoresEsquerda, #semiLibertadoresEsquerda, #quartasLibertadoresDireita, #semiSulAmericanaDireita, #semiLibertadoresDireita, #finalSulAmericana, #finalLibertadores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#quartasSulAmericanaEsquerda div, #quartasSulAmericanaDireita div, #quartasLibertadoresEsquerda div, #quartasLibertadoresDireita div{
    margin-bottom: 20px;
}
#semiSulAmericanaEsquerda div, #semiLibertadoresEsquerda div, #semiSulAmericanaDireita div, #semiLibertadoresDireita div{
    margin-bottom: 90px;
}
#finalSulAmericana div, #finalLibertadores div{
    display: flex;
    margin-top: 3px;
}
#semiSulAmericanaEsquerda h3, #semiLibertadoresEsquerda h3, #semiSulAmericanaDireita h3, #semiLibertadoresDireita h3{
    padding-bottom: 30px;
}
#finalSulAmericana h3, #finalLibertadores h3{
    padding-top: 10px;
}
#finalSulAmericana input, #finalLibertadores input{
    margin: 0 10px;
}
.perdedorSemi{
    margin-top: -60px;
    padding-bottom: 0px;
}
.Final1{
    margin-top: -7px;
    padding-bottom: 20px;
}
.Final2{
    margin-top: 45px;
}
.Final3{
    margin-top: 10px;
    padding-bottom: 30px;
}
.Final4{
    margin-top: 45px;
}
.divisoria1, .divisoria2, .divisoria3{
    display: flex;
    justify-content: space-between;
}
.divisoria1{
    width: 75%;
}
.divisoria2{
    width: 51%;
}
.divisoria3{
    width: 40%;    
}
footer{
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.89);
}
@media(max-width: 700px){
    .grupos{
        flex-direction: column;
        align-items: left;
    }
    .grupos div{
        width: 100%;
    }
    .grupos div table{
        width: 100%;
        margin-left: 40px;        
    }
    #celular{
        align-items: center;
        flex-direction: column-reverse;
    }
    #jogos{
        flex-direction: column;
    }
    #sulAmericana, #libertadores{
        flex-direction: column;
    }
    #semiSulAmericanaEsquerda div, #semiLibertadoresEsquerda div, #semiSulAmericanaDireita div, #semiLibertadoresDireita div{
        margin-bottom: 20px;
    }
    #finalSulAmericana div, #finalLibertadores div{
        flex-direction: column;
        margin-top: 5px;
    }
    #finalSulAmericana h2, #finalLibertadores h2{
        padding-bottom: 5px;
    }
    .perdedorSemi{
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .Final1{
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .Final2{
        margin-top: 0px;
    }
    .Final3{
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .Final4{
        margin-top: 0px;
    }
    .divisoria1, .divisoria2, .divisoria3{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .divisoria1, .divisoria3{
        flex-direction: column-reverse;
        width: 100%;
    }
    .divisoria3 div{
        width: 100%;
    }
    .gruposCelular{
        margin-left: 0;
    }
    .gruposCelular table thead tr th:nth-child(6), .gruposCelular table tbody tr td:nth-child(6), .gruposCelular table tr th:nth-child(7),
    .gruposCelular table tr td:nth-child(7){
        display: none;
    }
    caption{
        width: 90%;
    }
    #quartasSulAmericanaEsquerda div, #quartasSulAmericanaDireita div,     #semiSulAmericanaDireita div, #semiLibertadoresDireita div,#quartasLibertadoresEsquerda div, #quartasLibertadoresDireita div,#semiSulAmericanaEsquerda div, #semiLibertadoresEsquerda div, 
    #finalSulAmericana div div, 
    #finalLibertadores div div{
        background-color: rgba(255, 255, 255, 0.103);
        padding: 15px;
    }

    #quartasSulAmericanaEsquerda div, #quartasSulAmericanaDireita div,     #semiSulAmericanaDireita div, #semiLibertadoresDireita div,#quartasLibertadoresEsquerda div, #quartasLibertadoresDireita div{
        width: 50%;
    }
    #semiSulAmericanaEsquerda div, #semiLibertadoresEsquerda div{
        width: 140%;
    }
    #finalSulAmericana div, 
    #finalLibertadores div{
        width: 105%;
        margin-right: 35px;
    }
    #jogos table{
        width: 90%;
        margin-left: 5%;
    }
}
