@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body{
    height: 100vh;
    background-color: black;
    /*background: white url('../img/fundo-cns.jpg') no-repeat fixed center center;
    background-size: cover;*/
}

h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    font-weight: 400;
}

h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    font-weight: 400;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.acordeao{
    background-color: black;
    color: white;
    border: none;
    font-size: .6em;
    padding-top: 23px;
    font-family: 'Josefin Sans', sans-serif;
}

.acordeaoButton{
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .55em;
    height: 36px;
    padding: 0px 10px;
    padding-top: 5px;
    font-weight: 400;
    background-color: #3A3A3A;
    color: white;
    border: none;
    
}

.p_button{
    margin-bottom: 8px;
}

iframe#player{
    width: 98vw;
    height: 40px;
}

iframe#menu{
    width: 100vw;
    height: 40px;
}

header{
    background-color: black;
}

header nav{
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.post{
    background-color: red;
}

header nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

header div.linksPlaylist{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
}

header div.linksPlaylist div.deezer,
header div.linksPlaylist div.playlistDeezer{
    display: flex;
    align-items: center;
    gap: 10px;
}

header div.linksPlaylist div.deezer a,
header div.linksPlaylist div.playlistDeezer a{
    color: red;
    font-size: 1em;
    text-decoration: none;
}

header figure{
    width: 80vw;
    display: flex;
    justify-content: center;
}

header figure img{
    width: 30%;
    margin-left: 20%;
}

iframe#principal{
    width: 100vw;
    height: 1000px;
}

.buttonStyle{
    background-color: #3A3A3A;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 20px;
    margin-left: 0px;
}

section{
    background: white url('../img/fundo-cns.jpg') no-repeat fixed center center;
    background-size: cover;
}

section article{
    padding: 50px 0px;
    background-color: rgba(0, 0, 0, .80);
    width: 95vw;
    margin: auto;
}

section article#home div#carouselExampleIndicators{
    width: 90vw;
    margin: auto;
}

.tamanho{
    height: 250px;
}

section article#home div.links{
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
}

section article#home div.links div{
    text-align: center;
}

section article#home div.links div svg{
    margin: 5px 0;
}

section article#home div.links div img{
    width: 50px;
    margin: 0px;
}

section article#home div.links div a{
    background-color: #3A3A3A;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

section article#home div.redes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 40px 0;
}

div#arb-widget{
    background-color: white;
}

section article.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    color: white;
}

section article.news img{
    width: 90vw;
}

section article#anuncie,
section article#fale_conosco,
section article#sobre_nos,
section article#redes_sociais{
    padding: 20px;
    color: white;
}

section article#fale_conosco article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90vw;
}

section article#sobre_nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section article#redes_sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section article#anuncie img,
section article#redes_sociais img{
    width: 90vw;
}

section article#redes_sociais div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

section article#redes_sociais div a img{
    width: 5vw;
}

footer{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

footer div.footer_texto{
    text-align: center;
}

footer .footer_link div a img{
    width: 40px;
    margin-right: 15px;
}
#div-playlist, #div-news{
    background-color: rgba(0, 0, 0, 0.705);
    position: fixed;
    top: 5%;
    display: none;
    z-index: 2;
}

#div-playlist{
    width: 90%;
    height: 900px;
    left: 5%;
}

#div-news{
    height: 900px;
    width: 90%;
    left: 1%;}

#div-playlist:target,#div-news:target{
    display: block;
}

#div-playlist ~ .box-playlist, #div.news ~ .box-news{
    top: 10px;
    transition: all .3s;
    transition-delay: .2s;
}

.box-playlist, .box-news{
    background-color: black;
    width: 90%;
    height: auto;
    position: absolute;
    left: -2000px;
    top: 440px;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.404) ;
}

#close, #closenews{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    background-color: #000;
    width: 30px;
    height: 30px;
    text-align: center;
    right: 0;
    border-top-right-radius: 40%;
}

#close:hover,#closenews:hover{
    opacity: .8;
}