@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background: white url('../img/fundo-cns.jpg') no-repeat fixed center center;
    background-size: cover;
}

h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    font-weight: 400;
}

h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    font-weight: 400;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.p_button{
    margin-bottom: 10px;
}
.buttonStyle{
    background-color: #3a3a3a;
    border: none;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

input[type="text"] , textarea , select{
    width: 100%;
    height: 30px;
    margin: 15px 0;
    margin-right: 0px;
    padding-left: 10px;
    border-radius: 10px;
    color: black;
}

textarea{
    height: 100px;
    padding-top: 10px;
}

header{
    background-color: black;
    height: 350px;
    text-align: center;
}

header nav{
    background-color: black;
    height: 100px;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 30px 0;
    z-index: 2;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

header nav ul li{
    width: 200px;
    margin-bottom: 20px;
}

header nav ul li a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}    

header nav ul li a:hover{
    color: #3a3a3a;
}

header div.deezer{
    padding-top: 110px;
    display: flex;
    height: 30px;
    justify-content: right;
    align-items: center;
    padding-right: 2%;
}

header div.playlistDeezer{
    height: 35px;
    display: flex;
    padding-right: 2%;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
}

header div.deezer div, header div.playlistDeezer div{
    display: flex;
}

header div.playlistDeezer div{
    align-items: center;
}

header div.deezer div a, header div.playlistDeezer div a{
    margin-left: 10px;
    color: red;
    font-size: 1em;
    text-decoration: none;
    padding-top: 5px;
}

header img{
    width: 22%;
}

section{
    margin-left: 10%;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, .80);
    width: 80%;
}

div.espacador{
    padding: 50px;
}

section#home img{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 40px;
}

section#home ul.ul-links{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section#home ul.ul-links li{
    text-align: center;
    padding: 10% 1%;
}

section#home ul.ul-links li div{
    width: 100%;
    height: 180px;
    vertical-align: top;
}

section#home ul.ul-links li div p{
    padding: 10px 0;
}

section#home ul.ul-links li div img{
    width: 40px;
    margin-bottom: 0;
    margin-left: 0;
}

section#home ul.ul-redes{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

section#home ul.ul-redes li div#arb-widget{
    background-color: white;
}

section#home ul.ul-redes li div#arb-widget div.arb-tab-content div.arb-media img{
    margin-left: 0px;
}

section#cns-news{
    text-align: center;
}

section#cns-news p{
    padding: 1%;
}

section#cns-news .class_noticias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}

section#cns-news .class_noticia{
    width: 350px;
}

/*section#anuncie img{
    width: 80%;
    margin-left: 10%;
}

section#anuncie h3, section#anuncie p{
    padding: 1% 10%;
}

section#anuncie form{
    padding: 1% 10%;
}*/

/*section#fale-conosco{
    width: 80%;
    margin-left: 10%;
}

section article{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

section#fale-conosco h2, section#fale-conosco p{
    padding: 1% 0%;
}

section#fale-conosco form{
    padding: 1% 10%;
}*/

section#sobre-nos{
    text-align: center;
}

section#sobre-nos h2{
    padding: 40px 0;
}

/*section#redes-sociais{
    text-align: center;
    background-color: none;
    margin-bottom: 40px;
}

section#redes-sociais img{
    width: 80%;
}

section#redes-sociais h3{
    padding: 10px 0;
}

section#redes-sociais a img{
    width: 40px;
    padding-left: 20px;
}*/

footer{
    background-color: black;
    padding: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 10px 0px;
}
.footer_texto{
    width: 50%;
    text-align: center;
}
footer .footer_link div a img{
    width: 40px;
    margin-right: 15px;
}

#div-playlist{
    background-color: rgba(0, 0, 0, 0.705);
    width: 90%;
    height: 900px;
    position: fixed;
    top: 5%;
    left: 5%;
    display: none;
    z-index: 2;
}

#div-playlist:target{
    display: block;
}

#div-playlist ~ .box-playlist{
    top: 10px;
    transition: all .3s;
    transition-delay: .2s;
}

.box-playlist{
    background-color: black;
    width: 90%;
    height: auto;
    position: absolute;
    left: -2000px;
    top: 440px;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.404) ;
}

#close{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    background-color: #000;
    width: 30px;
    height: 30px;
    text-align: center;
    right: 0;
    border-top-right-radius: 40%;
}

#close:hover{
    opacity: .8;
}

.noticias_pagina{
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.705)
}

.noticias_pagina h1{
    text-align: center;
    font-size: 4em;
}

.noticias_pagina h2{
    text-align: center;
    font-size: 4em;
}

.noticias_pagina div{
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.noticias_pagina p{
    padding: 10px 0px;
    text-align: justify;
}

.noticias_pagina img{
    width: 100%;
}

.d-block{
    height: 250px;
}

#carouselExampleIndicators{
    margin-bottom: 50px;
}

@media(max-width: 1215px){
    header{
        height: 320px;
    }
}

@media(max-width: 615px){
    header div.deezer{
        padding-top:165px;
    }
}