#btn-reset{
    width: 100%;
    text-transform: uppercase;
    padding: .5rem;
    border: none;
    background-color: var(--cor-secundary);
    border-radius: 20px;
}

#btn-reset:hover{
    background-color: var(--cor-hover);
}
