details{
    width: 100%;
}

details summary {
    cursor: pointer;
    font-weight: bold;
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
    margin-bottom: .5rem;
}
