main #principal .div-apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main #principal .div-apresentacao img{
    width: 5rem;
    border-radius: 50px;
}

main #principal .div-apresentacao h2{
    font-size: 4rem;
}

main #principal #dados-titulos{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

main #principal #dados-titulos > div:nth-child(1){
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
    gap: 1rem;
}

main #principal #dados-titulos #section-titulo{
    width: 49%;
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main #principal #dados-titulos #section-titulo .div-titulo {
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

main #principal #dados-titulos #section-titulo .div-titulo table{
    width: 100%;
}

main #principal #dados-titulos #section-titulo .div-titulo table caption{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

main #principal #dados-titulos #section-titulo .div-titulo{
    display: flex;
}

main #principal #dados-titulos #section-titulo .div-titulo div{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

main #principal #section-colocacao{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

main #principal #section-colocacao .div-colocacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

main #principal #section-colocacao .div-colocacao .div-associacoes .div-campeoes-tabela{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main #principal #section-colocacao .div-colocacao .div-associacoes{
    width: 49%;
}

main #principal #section-colocacao .div-colocacao .div-associacoes .div-campeoes-tabela .div-tabela-colocacao{
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

main #principal #section-colocacao .div-colocacao .div-associacoes .div-campeoes-tabela .div-tabela-colocacao table{
    width: 100%;
}

main #principal #todas-estatisticas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

main #principal #todas-estatisticas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: .5rem 1rem;
}

main #principal #todas-estatisticas div .ul-lista li p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

main #principal #todas-estatisticas .menus-filtros{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

main #principal #todas-estatisticas .menus-filtros div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

main #principal #todas-estatisticas .menus-filtros div select{
    width: 50%;
}

main #principal #todas-estatisticas .tabela-filtros table{
    width: 100%;
}

main #principal #todas-estatisticas .tabela-dados table,
main #principal #todas-estatisticas .tabela-dados table thead,
main #principal #todas-estatisticas .tabela-dados table tbody tr,
main #principal #todas-estatisticas .tabela-dados table th,
main #principal #todas-estatisticas .tabela-dados table td{
    background-color: transparent;
}

main #principal #todas-estatisticas .tabela-filtros table{
    width: 100%;
}

main #principal #todas-estatisticas .tabela-filtros table tbody tr td:first-child div{
    border: none;
}

main #principal #todas-estatisticas .tabela-dados table caption{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

main #principal #todas-estatisticas .tabela-dados table th, main #principal #todas-estatisticas .tabela-dados table td{
    padding: .5rem;
}

main #principal #todas-estatisticas .tabela-dados table tr th{
    width: 40%;
    text-align: left;
    vertical-align: top;
}

main #principal #todas-estatisticas .tabela-dados table tr td{
    gap: 1rem;
    width: 60%;
}

main #principal #todas-estatisticas .tabela-dados table tr:nth-child(-n+3) td:nth-child(2){
    text-align: right;
}

main #principal #todas-estatisticas .tabela-dados table tr:nth-child(+n+4) td{
    text-align: center;
}

main #principal #todas-estatisticas .tabela-dados table tr td div{
    display: flex !important;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
}

main #principal #todas-estatisticas .tabela-dados table tr td div div{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #principal #todas-estatisticas .todas-partidas-filtros {
    display: flex;
    gap: 1rem;
    border: none;
    width: 100%;
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: .5rem 1rem;
}

main #principal #todas-estatisticas .todas-partidas-filtros #tabela-jogos{
    width: 100%;
}

main #principal #todas-estatisticas .todas-partidas-filtros #tabela-jogos tbody tr td div{
    border: none;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1120px){ 
    main #principal #section-colocacao .div-colocacao .div-associacoes{
        width: 100%;
    }
}


@media (max-width: 823px){    
    main #principal #dados-titulos{
        flex-direction: column;
    }
    
    main #principal #dados-titulos > div:nth-child(1){
        width: 100%;
    }

    main #principal #dados-titulos #section-titulo{
        width: 100%;
    }

    main #principal #todas-estatisticas{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}