main #principal #main-descricao{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
}

main #principal #main-descricao ul{
    grid-column: 1; 
    grid-row: 1;
    margin-top: 1rem;
    align-self: start;

}

main #principal #main-descricao iframe{
    grid-column: 2; 
    grid-row: 1;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

main #principal #main-descricao div{
    grid-column: 1 / 3; 
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
}

main #principal #main-descricao div h2{
    width: 100%;
    text-align: center;
}

.div-scroll{
    width: 100%;
    max-height: 400px;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
}

.div-scroll table {
    border-collapse: separate;
    border-spacing: 0;
    width: max-content;
    min-width: 100%;
}

.div-scroll thead th {
    position: sticky;
    top: 0;
    border: 1px solid black;
    background: var(--cor-primary);
    z-index: 5;
}

.div-scroll th.coluna-fixa:first-child{
    width: 153px;
}

.div-scroll th.coluna-fixa,
.div-scroll td.coluna-fixa {
    position: sticky;
    left: 0;
    background: var(--cor-primary);
    z-index: 4;
}

.div-scroll th.coluna-menor-total.coluna-fixa,
.div-scroll td.coluna-menor-total.coluna-fixa {
    position: sticky;
    left: 153px;
    background: var(--cor-primary);
    z-index: 4;
}

.div-scroll thead th.coluna-fixa {
    z-index: 6;
}

.div-scroll thead th.coluna-fixa:nth-child(2) {
    width: 15px;
    left: 153px;
}

.div-scroll th,
.div-scroll td {
    white-space: nowrap;
}

.coluna-fixa{
    position: sticky;
    left: 0;
    background: var(--cor-primary);
    z-index: 2;
    border: 1px solid black;
}

.coluna-fixa:nth-child(2){
    left: 153px;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas > div{
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: 1rem;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .menu-principal-estatisticas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .menu-principal-estatisticas div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .menu-principal-estatisticas div label{
    width: 100px;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .menu-principal-estatisticas div select{
    width: 200px;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-filtros table{
    width: 100%;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-dados{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-dados table{
    width: 100%;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-dados table caption{
    font-weight: bolder;
    font-size: 2rem;
    padding-bottom: 1rem;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-dados table th{
    text-align: left;
    vertical-align: top;
    padding: 1rem;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-dados table td{
    text-align: right;
    padding: 1rem;
    width: 60%;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-dados table td .campeonato{
    text-align: center;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .tabela-dados table td .jogo-estatisticas{
    display: grid;
    grid-template-columns: 1fr 20px 10px 20px 1fr;
    margin-top: 1rem;
}

main #principal #section-estatistica-associacao #apertura-todas-estatisticas .todas-partidas-filtros{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1120px){ 
    main #principal #main-descricao{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 823px){
    main #principal #main-descricao{
        grid-template-columns: 1fr;
    }

    main #principal #main-descricao ul{
        grid-column: 1; 
        grid-row: 1;
    }

    main #principal #main-descricao iframe{
        grid-column: 1; 
        grid-row: 2;
    }

    main #principal #main-descricao div{
        grid-column: 1; 
        grid-row: 3;
    }

    main #principal #section-estatistica-associacao #apertura-todas-estatisticas{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem
    }
}