*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primary : #198754;
    --cor-secundary : #75b798;
    --cor-hover : #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Menu */
header #btn-navegacao{
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 2rem;
}

header .esconder-navegacao-associacao{
    display: none;
}

header #btn-fechar{
    position: absolute;
    right: 1rem;
    width: 2rem;
    cursor: pointer;
}

header .lista-associacao{
    cursor: pointer;
}

/* Header */
header #navegacao-associacao{
    background-color: rgba(255, 255, 255, 0.911);
    position: absolute;
    padding: 1rem 3rem;
    width: 100%;
    height: 100%;

}

header #navegacao-associacao nav ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
}

header #header-associacao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
    gap: 1rem;
    background-color: var(--cor-primary);
}

header #header-associacao div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header #header-associacao div h1{
    text-align: center;
}

header #header-associacao img{
    width: 15rem;
}

/* Select */
label{
    font-size: 1.2rem;
}

select{
    padding: .1rem .5rem;
    border-radius: 20px;
    border: none;
}

select:hover{
    border-color: 2px solid black;
}

/* Ul */
.ul-lista{
    padding: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ul-lista li{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .5rem;
    gap: .5rem;
}

/* button */
#btn-reset{
    width: 100%;
    text-transform: uppercase;
    padding: .5rem;
    border: none;
    background-color: var(--cor-secundary);
    border-radius: 20px;
}

#btn-reset:hover{
    background-color: var(--cor-hover);
}

/* Table */
table{
    border-collapse: collapse;
}

table thead{
    background-color: rgba(0, 0, 0, 0.356);
}

table tbody tr:nth-child(odd){
    background-color: var(--cor-secundary);
}

table tbody tr:nth-child(even){
    background-color: var(--cor-hover);
}

table thead tr th, table tbody tr td{
    padding: .5rem;
}

.coluna-menor{
    text-align: center;
    width: 3.5rem;
}

.coluna-menor-total{
    text-align: center;
}

/* Main */
main{
    background-color: var(--cor-primary);
}

/* Main Menu */
main #navegacao-socio-campeonato{
    background-color: var(--cor-secundary);
    display: grid;
    grid-template-columns: 12rem 1fr;
    align-items: start;
    gap: 1rem;
    padding-inline: 1rem;
}

main #navegacao-socio-campeonato #nav-menu-socio{
    display: flex;
    justify-content: top;
    align-items: center;
    gap: 1rem;
}

main #navegacao-socio-campeonato #nav-menu-socio{
    padding-top: 1rem;
}

main #navegacao-socio-campeonato #menu-campeonato{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

main #navegacao-socio-campeonato #menu-campeonato li{
    cursor: pointer;
}

main #navegacao-socio-campeonato #menu-campeonato li:hover{
    color: var(--cor-hover);
}

/* Main Apertura*/
main #principal #main-descricao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

main #principal #main-descricao ul{
    grid-column: 1; 
    grid-row: 1;
}

main #principal #main-descricao iframe{
    grid-column: 2; 
    grid-row: 1;
    width: 100%;
    height: 300px;
    margin-top: 1rem;
}

main #principal #main-descricao div{
    grid-column: 1 / 3; 
    grid-row: 2;
}

.div-scroll{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main #principal #main-descricao div table{
    width: 100%;
}

/* Main dados gerais */
main #principal #dados-gerais{
    display: flex;
    margin: 1rem;
    gap: 2rem;
}

main #principal #dados-gerais #menu-temporada{
    width: 300px;
}

main #principal #dados-gerais #menu-temporada ul .lista-temporada{
    list-style: none;
    margin-bottom: .5rem;
}

main #principal #dados-gerais #menu-temporada ul .lista-temporada:hover{
    color: var(--cor-hover);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    flex: 1;
}

main #principal #dados-gerais #dados-geral #dados{ 
    grid-column: 1; 
    grid-row: 1; 
    padding: 1rem;
}

main #principal #dados-gerais #dados-geral #campeoes{ 
    grid-column: 2; 
    grid-row: 1; 
    padding: 1rem;
}

main #principal #dados-gerais #dados-geral #dados div, main #principal #dados-gerais #dados-geral #campeoes div{ 
    display: flex;
    gap: 1rem;
}

main #principal #dados-gerais #dados-geral > #dados, main #principal #dados-gerais #dados-geral > #campeoes{ 
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
}

main #principal #dados-gerais #dados-geral > #dados > div, main #principal #dados-gerais #dados-geral > #campeoes > div{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    padding: 2rem .5rem;
}

main #principal #dados-gerais #dados-geral table{ 
    grid-column: 1 / 3; 
    grid-row: 2; 
}

/* Campeonato */
.flex{
    flex: 1;
}

main #principal #dados-gerais #dados-geral #dados-campeonato{
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

main #principal #dados-gerais #dados-geral #dados-campeonato .section-etapa{
    width: 100%;
    display: flex;
    margin-block: 1rem;
    flex-direction: row-reverse;
    gap: 1rem;
}

main #principal #dados-gerais #dados-geral #dados-campeonato .section-etapa .rodadas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main #principal #dados-gerais #dados-geral #dados-campeonato .section-etapa .rodadas .div-rodada{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main #principal #dados-gerais #dados-geral #dados-campeonato .section-etapa .rodadas .div-rodada .rodada .jogo .jogo-normal{
    display: grid;
    grid-template-columns: 1fr 2fr 10px 10px 10px 2fr;
    gap: .5rem;
}

main #principal #dados-gerais #dados-geral #dados-campeonato .section-etapa .rodadas .div-rodada .rodada .jogo .jogo-penalti{
    display: grid;
    grid-template-columns: 3.2fr 10px 10px 10px 2fr;
    gap: .5rem;
}

main #principal #dados-gerais #dados-geral #dados-campeonato .section-etapa .tabelas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.estatisticas-geral div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.jogo-estatisticas{
    display: grid !important; 
    grid-template-columns: 1fr 10px 10px 10px 1fr;
    grid-template-rows: 1fr;
    gap: .5rem;
    border: none !important;
}

/* socios */
main #principal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

main #principal .div-apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main #principal .div-apresentacao img{
    width: 5rem;
    border-radius: 50px;
}

main #principal .div-apresentacao h2{
    font-size: 4rem;
}

main #principal #dados-titulos{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

main #principal #dados-titulos > div:nth-child(1){
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
}

main #principal #dados-titulos #section-titulo{
    width: 49%;
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #principal #dados-titulos #section-titulo .div-titulo{
    display: flex;
}

main #principal #dados-titulos #section-titulo .div-titulo div{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

main #principal #section-colocacao{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

main #principal #section-colocacao .div-colocacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

main #principal #section-colocacao .div-colocacao .div-associacoes .div-campeoes-tabela{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main #principal #section-colocacao .div-colocacao .div-associacoes{
    width: 49%;
}

main #principal #section-colocacao .div-colocacao .div-associacoes .div-campeoes-tabela .div-tabela-colocacao{
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

main #principal #section-colocacao .div-colocacao .div-associacoes .div-campeoes-tabela .div-tabela-colocacao table{
    width: 100%;
}

main #principal #todas-estatisticas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

main #principal #todas-estatisticas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: .5rem 1rem;
}

main #principal #todas-estatisticas div .ul-lista li p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

main #principal #todas-estatisticas .menus-filtros{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

main #principal #todas-estatisticas .menus-filtros div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

main #principal #todas-estatisticas .menus-filtros div select{
    width: 50%;
}

main #principal #todas-estatisticas .tabela-filtros{
    border: none;
    padding: 0;
}

main #principal #todas-estatisticas .tabela-filtros table{
    width: 100%;
}

main #principal #todas-estatisticas .todas-partidas-filtros{
    display: flex;
    gap: 1rem;
    border: none;
    width: 100%;
    padding: 0;
}

main #principal #todas-estatisticas .todas-partidas-filtros .partida{
    border: .2rem solid var(--cor-hover);
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
}

main #principal #todas-estatisticas .todas-partidas-filtros .partida .jogo-dados{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    border: none;
}

main #principal #todas-estatisticas .todas-partidas-filtros .partida .jogo-dados p{
    text-align: center;
}

main #principal #todas-estatisticas .todas-partidas-filtros .partida .jogo-normal{
    display: grid;
    grid-template-columns: 1fr 3fr 10px 10px 10px 3fr;
    gap: 1rem;
    border: none;
}

main #principal #todas-estatisticas .todas-partidas-filtros .partida .jogo-normal p{
    text-align: center;
}

main #principal #todas-estatisticas .todas-partidas-filtros .partida .jogo-prorrogacao, main #principal #todas-estatisticas .todas-partidas-filtros .partida .jogo-penalti{
    display: grid;
    grid-template-columns: .57fr 10px 10px 10px;
    gap: 1rem;
    border: none;
}

/* Footer*/
footer{
    background-color: var(--cor-secundary);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 1356px){
    .apagar-coluna-menor-penalti{
        display: none;
    }
}

@media (max-width: 1120px){
    /* Main dados gerais */
    .grid{
        display: flex;
        flex-direction: column;
    }

    /* Campeonato */
    main #principal #dados-gerais #dados-geral #dados-campeonato .section-etapa{
        flex-direction: column;
    }

    /* socios */
    main #principal #section-colocacao .div-colocacao .div-associacoes{
        width: 100%;
    }
}

@media (max-width: 823px){
    /* Main Apertura*/
    main #principal #main-descricao{
        display: flex;
    }
    /* Header */
    header #header-associacao{
        display: flex;
        flex-wrap: wrap;
    }

    #header-associacao img:nth-child(3){
        display: none;
    }
    
    /* Main Menu */
    main #navegacao-socio-campeonato{
        display: flex;
    }
    
    main #principal #dados-gerais{
        flex-direction: column;
    }
    
    main #principal #dados-gerais #menu-temporada{
        width: 100%;
    }
    
    main #principal #dados-gerais #menu-temporada ul{
        display: flex;
        gap: 1rem;
    }

    /* Main Apertura*/
    main #principal #main-descricao{
        flex-direction: column;
    }

    main #principal #main-descricao iframe{
        width: 100%;
        height: 300px;
        margin: 1rem;
    }

    main #principal #dados-titulos{
        flex-direction: column;
    }
    
    main #principal #dados-titulos > div:nth-child(1){
        width: 100%;
    }

    main #principal #dados-titulos #section-titulo{
        width: 100%;
    }

    /* socios */
    main #principal #todas-estatisticas{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 600px){
    .apagar-coluna-menor{
        display: none;
    }
    /* Main Menu */
    main #navegacao-socio-campeonato{
        flex-direction: column;
        align-items: center;
    }

    main #navegacao-socio-campeonato #nav-menu-socio{
        flex-wrap: wrap;
        justify-content: center;
    }
}