table{
    border-collapse: collapse;
}

table thead{
    background-color: rgba(0, 0, 0, 0.356);
}

table tbody tr:nth-child(odd){
    background-color: var(--cor-secundary);
}

table tbody tr:nth-child(even){
    background-color: var(--cor-hover);
}

table thead tr th, table tbody tr td{
    padding: .5rem;
}

.coluna-menor{
    text-align: center;
    width: 3.5rem;
}

.coluna-menor-total{
    text-align: center;
}

#tabela-jogos {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

#tabela-jogos tbody tr{
    background-color: rgba(128, 128, 128, 0.137);
    border-bottom: 1px solid black;
}

.placar-jogo{
    text-align: center;
    width: 5%;
}

.time-participante-jogo-mandante,
.time-participante-jogo-visitante{
    padding: .75rem .5rem;
    vertical-align: middle;
    width: 42.5%;
}

.time-participante-jogo-mandante div,
.time-participante-jogo-visitante div{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.time-participante-jogo-visitante div{
    justify-content: flex-end;
}

.time-participante-jogo-mandante img, .time-participante-jogo-visitante img{
    width: 30px;
}

.nome-jogo{
    text-align: center;
    width: 42.5%;
}

.turno-jogo{
    text-align: center;
}

.regra-jogo{
    text-align: center;
}

.tipo-jogo{
    text-align: center;
}

.data-jogo{
    width: 15%;
    text-align: center;
}

.jogo-estatisticas{
    display: grid !important;
    grid-template-columns: 1fr 10px 10px 10px 1fr;
    grid-template-rows: 1fr;
    place-content: start start;
    gap: .5rem;
    border: none !important;
}

.jogo-estatisticas > p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo-estatisticas p, .jogo-estatisticas div{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.jogo-estatisticas p:first-child, .jogo-estatisticas div p:last-child, .jogo-estatisticas p:last-child, .jogo-estatisticas div p:first-child{
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.jogo-estatisticas p:first-child, .jogo-estatisticas div:first-child p:first-child{
    justify-content: flex-start;
}

.jogo-estatisticas p:last-child, .jogo-estatisticas div:last-child p:last-child{
    justify-content: flex-end;
}

.jogo-estatisticas div img{
    width: 30px;
}

.tabela-filtros table tbody tr td div{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tabela-filtros table tbody tr td div img{
    width: 30px;
}

@media (max-width: 1356px){
    .apagar-coluna-menor-penalti{
        display: none;
    }
}

@media (max-width: 600px){
    .apagar-coluna-menor{
        display: none;
    }
    
    .turno-jogo, .regra-jogo, .tipo-jogo{
        font-size: 0;
    }

    .data-jogo{
        
        text-align: center;
    }
}

@media (max-width: 390px){
    .time-participante-jogo-mandante div, .time-participante-jogo-visitante div{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        width: 100%;
    }
    
    .time-participante-jogo-mandante div p, .time-participante-jogo-visitante div p{
        grid-column: 1 / 3; 
        grid-row: 1;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    
    .time-participante-jogo-mandante div img, .time-participante-jogo-visitante div img{
        margin: auto;
    }
    
    .time-participante-jogo-mandante div .posicao, .time-participante-jogo-visitante div .posicao{
        grid-column: 1 / 3; 
        grid-row: 2;
    }
}
