@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f1f1f1;
}
.icon{
    width: 15px;
    margin-right: 5px;
}
h2{
    font-weight: 100;
}
header section.logo{
    background-color: #ffffff;
    height: 55px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section.logo span:nth-child(1){
    font-size: 18px;
    color: red;
}
header section.logo span:nth-child(2) input[type="search"]{
    font-size: 1.5em;
}
header section.principal {
    height: 100vh;
    background-size: cover;
    background: black url('../imagens/london.jpg') no-repeat scroll center center;
}
header section.principal div.sectionPrincipal{
    width: 70%;
    margin-left: 15%;
    padding-top: 13%;
}
header section.principal div.sectionPrincipal nav{
    background-color: black;
}
header section.principal div.sectionPrincipal nav ul{
    text-decoration: none;
}
header section.principal div.sectionPrincipal nav ul li{
    display: inline-block;
    width: 33.05%;
    padding: 1.5% 0;
    text-align: center;
    color: white;
}
header section.principal div.sectionPrincipal nav ul li:hover{
    background-color: red;
}
header section.principal div.sectionPrincipal nav ul li img{
    padding-right: 3%;
}
header section.principal div.sectionPrincipal div{
    background-color: white;
}
header section.principal div.sectionPrincipal div p{
    font-size: 1.5em;
    padding: 2% 5%;
}
header section.principal div.sectionPrincipal div div.from{
    display: block;
    margin-left: 5%;
}
header section.principal div.sectionPrincipal div div.from div.from-to{
    display: inline-block;
    margin-bottom: 2%;
    width: 49%;
}
header section.principal div.sectionPrincipal div div.from div.from-to label{
    padding-right: 0%;
}
body section.principal div.sectionPrincipal div div.from div.from-to input[type='text']{
    border: 1px solid #cccccc; 
    color: #cccccc;
    padding: 1%;
    width: 97%;
}
header section.principal div.sectionPrincipal div button{
    padding: 1%;
    color: white;
    background-color: #616161;
    border: none;
    margin-bottom: 5%;
    margin-left: 5%;
}
main{
    margin: 0% 7.5%;
    width: 85%;
}
main h2{
    margin: 1% 0;
}
main section.cidades{
    display: flex;
    margin-top: 1%;
}

main section.cidades section.cidade-grande{
    background-size: cover;
    background: black url("../imagens/cinqueterre.jpg") no-repeat scroll center center;
    width: 49%;
}
main section.cidades section.cidade-grande p{
    color: white;
    margin-left: 20px;
    margin-top: 380px;
}
main section.cidades section.cidade-quarto{
    min-width: 50%;
}
main section.cidades section.cidade-quarto ul{
    list-style: none;
    margin-left: 12px;
    margin-right: -25px;
}
main section.cidades section.cidade-quarto ul li{
    display: inline-block;
    width: 47%;
    padding-top: 28%;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
}
main section.cidades section.cidade-quarto ul li p{
    color: white;
    padding: 10px;
}
main section.cidades section.cidade-quarto ul li.cidade-01,main section.cidades section.cidade-quarto ul li.cidade-02,main section.cidades section.cidade-quarto ul li.cidade-03,main section.cidades section.cidade-quarto ul li.cidade-04{
    margin-left: 10px;
}
main section.cidades section.cidade-quarto ul li.cidade-01,main section.cidades section.cidade-quarto ul li.cidade-02{
    margin-bottom: 20px;
}

main section.cidades section.cidade-quarto ul li.cidade-01{ 
    background-image: url("../imagens/newyork.jpg");
}
main section.cidades section.cidade-quarto ul li.cidade-02{ 
    background-image: url("../imagens/pisa.jpg");
}
main section.cidades section.cidade-quarto ul li.cidade-03{ 
    background-image: url("../imagens/sanfran.jpg");
}
main section.cidades section.cidade-quarto ul li.cidade-04{ 
    background-image: url("../imagens/paris.jpg");
}
main section.estacoes{
    display: flex;
    margin-top: 10px;
}
main section.estacoes section{
    width: 50%;
}
main section.estacoes section:nth-child(1){
    padding-right: 20px;
}
main section.estacoes section img{
    width: 100%;
}
main section.estacoes section div{
    background-color: white;
    margin-top: -10px;
}
main section.estacoes section div h2,main section.estacoes section div p{
    padding: 20px;
}
main section.estacoes section div p.roundtrip{
    color: #616161;
}
main section.estacoes section div p.tickets{
    padding-left: 30px;
}
main section.newsletter{
    background-color: #616161;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-top: 20px;
    color: white;
}
main section.newsletter p{
    padding-bottom: 10px;
}
main section.newsletter input[type='email']{
    padding: 5px;
    margin-bottom: 10px;
}
main section.newsletter button{
    background-color: #f38981;
    border: none;
    width: 90px;
    color: white;
    padding: 10px;
}
main section.contact{
    display: flex;
    flex-direction: column;
}
main section.contact p{
    margin-bottom: 20px;
}
main section.contact span{
    padding-bottom: 10px;
}
main section.contact input{
    margin-bottom: 15px;
    padding: 10px;
}
main section.contact button{
    padding: 15px;
    border: none;
    background-color: black;
    color: white;
    width: 150px;
}
footer{
    text-align: center;
    margin: 20px;
}
footer div{
    margin: 20px;
}
.dark{
    background-color: red;
}
@media(max-width: 950px){
    header section.logo{
        justify-content: space-around;
    }
    header section.principal div.sectionPrincipal{
        padding-top: 10%;
    }
    header section.principal div.sectionPrincipal nav ul li{
        width: 32.82%;
    }
    main section.cidades section.cidade-grande{
        width: 48.5%;
    }
    main section.cidades section.cidade-grande p{
        margin-top: 190px;
    }
    main section.cidades section.cidade-quarto ul li{
        display: inline-block;
        width: 56%;
        padding-top: 20%;
    }
    main section.cidades section.cidade-quarto ul li p {
        margin-left: 0px;
        padding-left: 10px;
    }
    main section.cidades section.cidade-quarto ul li.cidade-01,main section.cidades section.cidade-quarto ul li.cidade-02,main section.cidades section.cidade-quarto ul li.cidade-03,main section.cidades section.cidade-quarto ul li.cidade-04{
        background-size: cover;
        width: 47%;
        margin: 0px;
    }
    main section.cidades section.cidade-quarto ul li.cidade-01,main section.cidades section.cidade-quarto ul li.cidade-02{
        margin-bottom: 10px;
    }
}
@media(max-width: 450px){
    header section.logo span:nth-child(1){
        width: 20%;
    }
    header section.logo span input{
        width: 90%;
    }
    header section.principal div.sectionPrincipal{
        padding-top: 20%;
    }
    header section.principal div.sectionPrincipal nav ul li{
        width: 32.45%;
    }
    header section.principal div.sectionPrincipal div div.from div.from-to{
        display: block;
        width: 95%;
    }
    main section.cidades{
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }
    main section.cidades section.cidade-grande{
        width: 100%;
        padding-top: 80px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    main section.cidades section.cidade-quarto{
        margin-left: -15px;
        width: 100%;
    }
    main section.cidades section.cidade-quarto ul li.cidade-01,main section.cidades section.cidade-quarto ul li.cidade-02,main section.cidades section.cidade-quarto ul li.cidade-03,main section.cidades section.cidade-quarto ul li.cidade-04{
        background-size: cover;
        width: 98%;
        padding-top:250px;
    }
    main section.cidades section.cidade-quarto ul li.cidade-03{
        margin-bottom: 10px;
    }
    main section.estacoes{
        flex-direction: column;
    }
    main section.estacoes section{
        width: 100%;
    }
    main section.estacoes section:nth-child(1){
        margin-bottom: 20px;
    }
}