@import url('reset.css');
@import url('global.css');
@import url('components/_navigator.css');
@import url('components/_pills.css');
@import url('components/_link-button.css');
@import url('components/_gallery.css');

.s-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;  
}

.s-wrapper video{
  position: fixed;
  width: 100%;
}
.s-wrapper .s-left-column {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-left: 50px;
  left: 0;
  top: 0;
  z-index: 1;
}
.s-wrapper .s-main-content{
  /* height: 100%;
  width: 100%; */
  padding-left: 9.4rem;
  position: relative;
}
.s-wrapper .s-main-content-top{
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}
.s-main-content-bottom{
  /* height: 20vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}
.s-wrapper .s-main-content .s-logo img{
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 10px;
  width: 90%;
}
.fundo{
  background-color: rgba(0, 0, 0, .7);
}
.s-wrapper .s-main-content-top .s-description{
  background-color: rgba(0, 0, 0, .7);
  width: 90%;
  padding: 20px;
  border-radius: 10px;
}
.s-wrapper .s-main-content-top .s-description .s-description-text p{
  color: white;
  line-height: 170%;
}
.s-wrapper .s-main-content-top .s-description .pills{
  margin-bottom: 20px;
}
.s-wrapper .s-main-content .s-links{
  padding-left: 0;
}
.s-wrapper .s-main-content .s-links ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
button{
  background-color: var(--primary-color);
  padding: .5rem 1rem ;
  border: none;
  border-radius: 50rem;
}
.s-spiders-01{
  background: black url('../../assets/imagens/icons/spiderman1.png');
}
.s-spiders-02{
  background: black url('../../assets/imagens/icons/spiderman1-andrew.png');
}
.s-spiders-03{
  background: black url('../../assets/imagens/icons/spiderman1-tom.png');
}
.s-spiderman-01-01{       
  background: url(../imagens/spiderman-tobey/movie-01/background.png) no-repeat fixed center center;
  background-size: cover;
}
.s-spiderman-01-02{       
  background: url(../imagens/spiderman-tobey/movie-02/background.png) no-repeat fixed center center;
  background-size: cover;
}
.s-spiderman-01-03{       
  background: url(../imagens/spiderman-tobey/movie-03/background.png) no-repeat fixed center center;
  background-size: cover;
}
.s-spiderman-02-01{       
  background: url(../imagens/spiderman-andrew/movie-01/background.png) no-repeat fixed center center;
  background-size: cover;
}
.s-spiderman-02-02{       
  background: url(../imagens/spiderman-andrew/movie-01/background.png) no-repeat fixed center center;
  background-size: cover;
}
.s-spiderman-03-01{       
  background: url(../imagens/spiderman-tom/movie-01/background.png) no-repeat fixed center center;
  background-size: cover;
}
.s-spiderman-03-02{       
  background: url(../imagens/spiderman-tom/movie-02/background.png) no-repeat fixed center center;
  background-size: cover;
}
.s-spiderman-03-03{       
  background: url(../imagens/spiderman-tom/movie-03/background.png) no-repeat fixed center center;
  background-size: cover;
}

.invisivel{
  display: none;
}