*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blue;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-block: 2rem;
}

header > div h1{
    color: white;
    text-shadow: 5px 5px 7px black;
}

#somas, #selects{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-inline: .5rem;
}

#selects div{
    display: flex;
    gap: 1rem;
}

#selects div select{
    border: 0;
    padding-inline: .5rem;
    padding-block: .2rem;
    border-radius: 5px;
}

#somas p{
    font-size: 1.1rem;
    font-weight: 500;
}

main{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-block: 1rem;
}
section{
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: white;
    gap: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.589);
}

section > div:nth-child(1), section > div:nth-child(1) div, section > div:nth-child(2), section > div:nth-child(2) div, section > div:nth-child(3), section > div:nth-child(3), section > div:nth-child(4), section > div:nth-child(4) div div, section > div:nth-child(5), section > div:nth-child(5) div div, section > div:nth-child(6), section > div:nth-child(6) div div, section > div:nth-child(7), section > div:nth-child(7) div div, .imagem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section > div:nth-child(1) div, section > div:nth-child(2) div, .imagem{
    gap: 1rem;
}

section > div:nth-child(2) div img{
    width: 1.5rem;
}

section img{
    width: 190px;
}