@charset "UTF-8";

:root{
    --corRosa01: #fce8f1;
    --corRosa02: #bc2670;
    --corRosa03: #e62a88;
}

*{
    margin: 0px;
    padding: 0px;
    color: var(--corRosa01);
}

header{
    background-color: var(--corRosa03);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img{
    width: 150px;
}

.header_titulo{
    text-align: center;
    padding: 20px;
}

.header_titulo h1{
    font-size: 3em;
}

.header_titulo p{
    font-size: 1.5em;
}

section#vendas{
    background-color: var(--corRosa02);
    padding: 100px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

section#vendas div{
    display: flex;
    background-color: rgba(0, 0, 0, 0.192);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 40vw;
}

section#vendas div img{
    width: 200px;
}

section#vendas div div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1em;
}
section#formulario{
    background-color: var(--corRosa03);
    display: flex;
    align-items: flex-start;
    justify-content:  space-between;
    padding: 100px;
}

section#formulario img{
    margin: 20px;
    width: 500px;
}

section#formulario form{
    width: 35vw;
    padding: 0px 2em;
    display: flex;
    flex-direction: column;
}

section#formulario form label{
    margin: 1.5em 0em .5em;
    font-size: 1.2em;
}

section#formulario form input, section#formulario form textarea{
    border-radius: 1em;
    font-size: 1.5em;
    border: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
}

section#formulario form button{
    background-color: var(--corRosa02);
    margin: 20px 0px;
    height: 3em;
    font-size: 1.5em;
    font-weight: bolder;
    border: 0px;
    border-radius: 1em;
}

section#mapa{
    background-color: var(--corRosa02);
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

section#mapa div{
    padding: 1em;
}

section#mapa div address p{
    text-indent: 1em;
    padding: .5em 0;
    font-size: 1.2em;
}

footer{
    background-color: var(--corRosa03);
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer p {
    font-size: 2em;
}


footer div{
    display: flex;
    gap: 50px;
}
footer div a img{
    width: 50px;
}
.whatsapp{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

.whatsapp img{
    width: 50px;
}

@media screen and (max-width: 1254px) {
    section#formulario{
        flex-wrap: wrap;
        padding-left: 20vw;
    }
    section#formulario img{
        width: 60vw;
    }

    section#formulario form{
        width: 60vw;
    }

    section#vendas div{
        width: 75vw;
    }

}

@media screen and (max-width: 968px) {
    header, section, footer{
        flex-direction: column;
    }

    section{
        align-items: center;
    }

    section#vendas, section#formulario{
        padding-left: 10vw;
    }

    section#mapa div, section#mapa div address {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: .3em;
    }

    section#mapa div address p{
        text-indent: 0px;
    }

    section#mapa div h2::after{
        content: " : ";
    }
    section#mapa div address p.endereco::after{
        content: " - ";
    }
}