.produto {
    display: flex;
    height: calc(100vh - var(--altura-cabecalho));
    /*
    overflow: hidden;
    */
}

.produto__foto {
    width: 40%;
    height: 100%;
    background-image: url(../img/produto-capa.png);
    background-attachment: fixed;
    background-size: 49rem;
    background-position: -22% top;
    /*
    background-size: center;
    background-position: center;
    z-index: -1;
    transform: translateZ(-1px);
    */
    background-repeat: no-repeat;
}

.produto__descricao {
    width: 60%;
    padding-top: 3rem;
    box-sizing: border-box;
    color: var(--cinza);
    /*
    background-color: var(--branco);
    */
}

.produto__marca {
    text-transform: uppercase;
    font-size: 11.5rem;
    font-weight: 800;
    color: var(--rosa-claro);
    letter-spacing: 0.5rem;
    line-height: 9rem;
}

.produto__divisao {
    padding-left: 1rem;
    position: relative;
}

.produto__preco {
    font-size: 1.375rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
    margin-bottom: 2.5rem;
}

.produto__nome {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.125rem;
    width: 31.875rem;
    margin-bottom: 0.875rem;
}

.produto__texto {
    width: 31.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.produto__comprar {
    position: absolute;
    bottom: 0;
    right: 2rem;
    border: none;
    color: var(--branco);
    font-weight: 900;
    letter-spacing: 0.25rem;
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 35px;
    background-color: var(--laranja);
    min-width: 10.75rem;
    padding: 1.25rem 1rem;
    box-sizing: border-box;
}

@media (max-width: 1310px) {
    .produto {
        height: calc(100vh);
    }

    .produto__marca {
        font-size: 8rem;
    }

    .produto__comprar{
        position: relative;
    }
}

@media (max-width: 960px) {
    .produto__foto {
        display: none;
    }

    .produto__marca {
        font-size: 9rem;
    }
    
    .produto__preco, .produto__nome, .produto__texto {
        width: 150%;
    }
}

@media (max-width: 683px) {
    .produto__marca {
        font-size: 6rem;
    }

    .produto__preco, .produto__nome, .produto__texto {
        width: 180%;
    }
}

@media (max-width: 592px) {
    .produto__preco, .produto__nome, .produto__texto {
        width: 180%;
    }

    .produto__texto{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}