:root{
    --azul : rgb(62, 62, 253);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: var(--azul);
    padding: 1rem 4rem;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.dados{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dados img{
    width: 5rem;
    border-radius: 50rem;
}

.redes-sociais{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.redes-sociais a img{
    width: 3rem;
}

.redes-sociais a img:hover{
    transform: scale(1.4)
}

main{
    background-color: rgb(197, 196, 196);
    padding: 3rem 1rem;
}

.main-flex{
    display: flex;
    gap: 1rem;
    align-items: stretch;
    flex-wrap: wrap;
}

main h2{
    padding: 1rem;
}

main section{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

main section button{
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 0;
    margin-bottom: 1rem;
}

main section button img{
    width: 10rem;
}

main section button:hover img{
    transform: scale(1.2);
}

.imgRedonda{
    border-radius: 50%;
}

#layout-inicio{
    cursor: pointer;
}

#layout-inicio:hover{
    transform: scale(1.2);
}

.web-sites{
    background-color: var(--azul);
    width: min-content;
    padding: 1.5rem;
    border-radius: 20px;
    flex-grow: 1;
}

.web-sites img{
    width: 4rem;
}

.web-sites a{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.web-sites:hover{
    transform: scale(1.05);
}

.web-sites a div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.btn-github{
    background-color: green;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
}

.instrutor-escola{
    border-radius: 50%;
}

@media (max-width: 480px) {
    header{
        justify-content: center;
    }
}

@media (max-width: 440px) {
    main{
        display: flex;
        justify-content: center;
    }

    .web-sites a div{
        flex-wrap: wrap;
    }    
    
    .web-sites a div > div{
        min-width: 250px; 
    }
}

@media (max-width: 340px) {
    .web-sites a div > div{
        min-width: auto; 
    } 
}

