body{
    font-family: "Montserrat", serif;
}

main{ 
    /*width: 940px;*/
    margin: 0 auto;
}

form{
    margin: 40px;
}

form label, legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 10px;
}

.enviar{
    width: 40%;
    padding: 15px 20px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);
}

table{
    margin: 20px 40px;
}

thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

th, td{
    border: 1px solid #000000;
    padding: 15px 8px;
}

#resposta{
    background-color: #dfdada;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-inline: 20px;
    padding: 20px;
}

#resposta ul{
    margin-left: 20px;
}