*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: blue;
}

input, button{
    font-size: 1.2rem;
    border: none;
}

span{
    background-color: red;
}

main, input, button, span{
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
