* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    letter-spacing: -0.02em;
    background: linear-gradient(167.96deg, #B257E5 0%, #271A45 100%) no-repeat;
    /* height: 100vh; */
    display: grid;
    place-content: center;
}
.grid{
    display: grid;
}
.column{
    grid-auto-flow: column;
}
.text-right{
    text-align: right;
}
h1, strong{
    font-weight: 500;
}
h1{
    font-size: 2rem;
    line-height: 2.4rem;
    color: white;
    text-align: center;
}
p{
    color: rgba(0, 0, 0, 0.64);
    font-size: 1.4rem;
    line-height: 1.7rem;
}
strong{
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.88); 
}
section{
    background-color: white;
    padding: 2.4rem 3.2rem;
    border-radius: 2.4rem;/* tirar do top e do bottom*/
    /*--webki-mask: var(--mask);
    mask: var(--mask);*/
}
footer p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: white;
    opacity: 0.64;
    width: 27rem;
    text-align: center;
    margin: 2rem auto;
}
#bording-pass{
    margin: 20px auto;
}
#bording-pass > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    background-color: rgb(60, 202, 60);
    padding: .5rem ;
    text-transform: uppercase;
    border: 0;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(10, 196, 10);
}
#ticket{
    margin-top: 2rem;
    box-shadow: 0 .4rem 2.4rem, rgba(0, 0, 0, 0.32);
}
.top{
    gap:2.4rem;
    /* border-radius: 2.4rem 2.4rem 0 0;
    --mask: radial-gradient(1.2rem at 1.2rem bottom, transparent 95%, black) -1.2rem;
    --webki-mask-repeat: repeat-x;
    mask-repeat: repeat-x; */
}
.top time{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.6rem;
    line-height: 1.9rem;
}
.top time sup{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
}
.middle{
    border: 1px dashed rgba(0, 0, 0, 0.32);
    border-left: 0;
    border-right: 0;
    /* --mask: radial-gradient(1.2rem at 1.2rem 1.2rem bottom, transparent 95%, black) -1.2rem -1.2rem;
    --webki-mask-repeat: repeat-x;
    mask-repeat: repeat-x */
}
.departure, .arrival{
    width: 12.5rem;
}
.departure strong, .arrival strong{
    font-size: 4rem;
    line-height: 4.7rem;
}
.airplane{
    align-self: center;
}
.bottom{
    /* border-radius: 0 0 2.4rem 2.4rem;
    --mask: radial-gradient(1.2rem at 1.2rem top, transparent 95%, black) -1.2rem; */
}
.bottom .container{
    align-items: center;
    gap: .8rem;
} 
.bottom > p{
    text-align: center;
    margin-top: 2.4rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: rgba(0, 0, 0, 0.8);
}
dl.grid{
    gap: 1.6rem;
    max-width: 9.5rem;
}
dt time{
    color: white;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    background-color: #633BBC;
    border-radius: .8rem;
    padding: .4rem .8rem;
    display: inline-block;
    margin-top: .2rem;
}
.qrcode.grid{
    justify-content: center;
}