.produtos{
    max-width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    max-width: 280px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 9px;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #c78c19;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos li:active{
    border-color: #088c19;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}