@media screen and (max-width: 500px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .lista-beneficios, .imagem-beneficios{
        width: 100%;
        margin-bottom: 20px;
    }

    p{
        padding-right: 10px;
    }

    form{
        width: 80%;
        margin: 5%;
    }
    .produtos {
        padding: 0 20%;
    }

    .enviar{
        margin-top: 20px;
        margin-left: 20px;
    }

    
}