@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
}   
body{
    font-size: 1.6rem;
    background-image:url("../img/fundo.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
}
body header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
body header img.img-header{
    width: 30rem;
}
body main{
    background-color:#ffffff8f;
    display: flex;
    margin-top: 2rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.664);
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
body main section div{
    width: 20rem;
    padding: 2rem;
}
body main section div nav{
    background-color: #ffffff8f;
    padding: 1rem;
}
body main section div nav ul{
    list-style: none;
}
body main section div nav ul li a{
    color: black;
    text-decoration: none;
}
body main section div nav ul li a:hover{
    color: #00000085;
}
body main section div div{
    padding: 0;
    margin-top: 2rem;
    height: 20rem;
    position: relative;
}
body main section div div img:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 1;
}
body main article{
    padding-top: 2rem;
    padding-right: 2rem;
}
body main article div{
    display: flex;
    gap: 1rem;
}
body main article div div{
    display: grid;
}
body main article > p{
    margin-top: 2rem;
    text-indent: 5rem;
}
h2{
    padding: 2rem;
}
footer{
    background-color:#ffffff8f;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
    text-align: center;
    padding-block: 1rem;
    margin-bottom: 2rem;
}
@media (max-width:1110px) {
    body{
        width: 90%;
    }    
}
@media (max-width:750px) {
    body header{
        position: relative;
        flex-direction: column;
    }
    body header img.img-header{
        display: none;
    }
    body main{
        display: flex;
        flex-direction: column;
    }
    body main section div{
        width: 93%;
        display: flex;
        flex-direction: row;
        padding: 2rem;
    }
    body main section div nav{
        width: 250%;
    }        
    body main section div div img:nth-child(1){
        width: 10rem;
        height: 10rem;
        position: absolute;
        margin-top: -2rem;
    }
    body main article div{
        flex-direction: column;
        padding-left: 2rem;
    }
    body main article > p{
        padding-left: 2rem;
    }
}