*{
    padding: 0;
    margin: 0;
}    

body{
    background: linear-gradient(to left, blue 0%, rgb(124, 124, 224) 100%);
}    

header, footer{
    background-color: rgba(0, 0, 255, 0.158);
    display: flex;
    justify-content: center;
    padding-block: 1.4rem;
}    

#header-curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#header-curriculo nav {
    display: flex;
    gap: 1rem;
}

#header-curriculo nav button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#main-curriculo div nav button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem
}    

.star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: yellow;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}    

.star-1{
    width: 200px;
    height: 200px;
    margin-top: 1rem;
}    

.star-2{
    width: 300px;
    height: 300px;
    margin-top: 10rem;
}    

.star-3{
    width: 250px;
    height: 250px;
    margin-top: 5rem;
}    

.star p{
    z-index: 10;
    position: relative;
    color: black; 
    font-size: 1rem;
}    

#links{
    width: 100vw;
    height: 74vh;
    margin-block: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}    

#imagens img{
    margin-block: 3.4rem;
    width: 250px;
}    

#formulario{
    margin-block: 5.1rem;
}    

#formulario form{
    background-color: rgba(128, 128, 128, 0.849);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 2rem;
}    

#formulario form div{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}    

#formulario form input{
    width: 215px;
}    

#formulario form input, #formulario form textarea{
    border-radius: 10px;
    border: none;
}    

#formulario form button{
    background-color: green;
    padding: .5rem;
    border-radius: 25px;
    border: none;
}    

#main-curriculo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2rem;
}    

#curriculo{
    background-color: white;
    margin-inline: 5rem;
    padding: 2rem;
    box-shadow: 15px 15px 25px rgb(0, 0, 0);
}

#curriculo .nome-foto{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#curriculo .nome-foto img{
    width: 3rem;
    border-radius: 50%;
}

#curriculo .h2-titulo{
    padding-block: .5rem;
    padding-top: 1rem;
}

#curriculo .h3-titulo{
    padding-block: .2rem;
    padding-left: 2rem;
}

#curriculo .div-dados-pessoais{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .1rem;
}

#curriculo .div-dados-pessoais h4{
    margin-left: 2rem;
    padding-right: .5rem;
}

#curriculo .div-experiencia-profissional div div{
    display: flex;
    gap: .2rem;
    padding-block: .2rem;
    padding-left: 4rem;
}

#curriculo .div-formacao-academica{
    display: flex;
    align-items: center;
    gap: .2rem;
    padding-left: 2rem;
}

#curriculo .objetivos{
    padding-left: 2rem;
}

#curriculo .div-interesse-pessoal{
    padding-left: 2rem;
}

#curriculo .div-competencia-tecnicas-idiomas-projetos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 2rem;
}

#curriculo .div-competencia-tecnicas-idiomas-projetos strong{
    padding-right: .5rem;
}

#curriculo .div-formacao-profissional h4{
    padding-left: 3rem;
}

#curriculo .div-formacao-profissional p{
    padding-left: 5rem;
    padding-block: .1rem;
}

footer a, a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

footer a:hover{
    color: white;
}

@media (max-width: 813px){
    .star-3{
        margin-top: 1rem;
    }
}

@media (max-width: 740px){
    #curriculo{
        margin-inline: 2rem;
    }
}

@media (max-width: 686px){
    #curriculo .div-dados-pessoais a{
        margin-left: 2rem;
    }
}

@media (max-width: 531px){
    .star-2{
        margin-top: 1rem;
    }

    #curriculo .div-experiencia-profissional div div{
        flex-wrap: wrap;
    }
}