*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color :#040614;
    --site-color:#fff;
}
body{
    background-color: var(--main-color);
    color: var(--site-color);
}
a{
    color: white;
    text-decoration: none;
}
.navbar{
    background-color: rgba(0, 0, 255, 0.514);
    padding-block: 20px ;
    font-size: 25px;
}
.navbar div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar div ul{
    display: flex;
    gap: 20px;
}
.navbar div ul li{
    list-style: none;
}
section{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 25px;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.527);
}
