body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5E5B5BAD;
    color: #333333;
}

body.modo-escuro{
    background-color: #212121;
    color: #F5F5F5;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo, header .imagem-botao{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header .logo:hover, header .imagem-botao:hover{
    transform: scale(1.05);
    cursor: pointer;
}

header #botao-alterar-tema{
    background: none;
    border: none;
}

main{
    padding: 25px;
}

.listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao-pokemon{
    background-color: #D8E3EC;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.cartao-pokemon:hover{
    transform: scale(1.05);
    background-color: #96D9D6;
}

.modo-escuro .cartao-pokemon{
    background-color: #A8A8A8;
}

.cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;   
    border-radius: 10px;
}

.cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

.cartao-pokemon .gif{
    width: 90px;
    height: 90px;
}

.cartao-pokemon .tipos{
    display: flex;
    gap: 15px;
}

.cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7AC7AC;
}

.veneno{
    background-color: #DF67DDFB;
}

.fogo{
    background-color: #EE8130;
}

.agua{
    background-color: #6390F0;
}

.voador{
    background-color: #ee901a;
}

.inseto{
    background-color: #A6B91A;
}

.descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

