@charset "utf-8";
body{
    background-image:url("../img/fundo/fundo.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

header{
    margin-left: 18%;
}

.header-imagem{
    width: 228px; 
    height: 150px;
}

.header-logo{
    width: 400px; 
    height: 150px;
}

nav ul{
    padding:0;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    text-align:left;
}

.img-section{
    margin: 1.1% 5%;
}

.img-nav{
    width: 120px; 
    height: 60px;
}

main{
    background-color:rgba(255, 255, 255, 0.925);
    margin-left: 18%;
    width:61%;
    padding: .5% 2%;
}

main h1{
    text-align: center;
    font-size:3em;
    color:red;
}

main p{
    font-size:1.1em;
}

.img-objeto , .img-foto{
    width:210px; 
    height:160px; 
}
main ul{
    list-style: none;
    columns: 4;
    margin-left: -60px;
}

main table.tbl_cardapio{
    width:106%;
    border: 1px;
    border-color: black;
    margin-left:-3%;
}
main table.tbl_cardapio th:nth-child(1){
    width: 83%;
}

.tbl_cardapio tr th{
    color: red;
    text-align: left;
    padding-left:2%;
}

.tbl_cardapio tr th img{
    width: 100px;
    height: 110px;
    padding:5%;
}

.tbl_cardapio tr td{
    padding-left:1%;
}

label{
    font-size:1.2em;
}

.nome , .email , .assunto , .receita , .mensagem ,
.origem , .outras{
    font-size:1em;
    margin:.5%;
    padding:.1em;
}

.nome {
    width:35%;
    margin-left: 2.5%;
}

.email{
    width:43%;
}
.assunto{
    width:87%;
}
.receita{
    width:79.3%;
}
.mensagem{
    width:96%;
}

.outras{
    width:38.6%;
}

.enviar{
    width:96.5%;
    margin-left:0%;
    height:2em;
}

.img_mapa{
    margin: 10%;
}

footer{
    background-color:rgba(255, 255, 255, 0.925);
    margin-left: 20%;
    width:63.8%;
    padding-left: 1em;
    text-align: center;
}

@media(max-width: 950px){
    header, main, footer{
        margin-left: 3%;
    }
    main{
        width: 90%;
    }
    .outras{
        width:39.5%;
    }
    footer{
        width: 92%;
    }
}
@media(max-width: 450px){
    body{
        background-size: cover;
    }
    .header-imagem,  
    .header-logo{
        width: 95%; 
        height: 150px;
        margin-bottom: 20px;
    }  
    .img-nav{
        width: 128px; 
        height: 60px;
    }
    nav ul li:nth-child(5){
        display: none;
    }
    main ul{
        columns: 1;
        margin-left: 10%;
    }
    .tbl_cardapio tr td{
        padding-left:3%;
    }
    main table th:nth-child(1){
        width: 68%;
    }
    .img_mapa{
        width: 77%;
    }
    .nome {
        margin-top:2%;
        width:80%;
        margin-left: 4%;
    }
    
    .email{
        margin-top:2%;
        width:80%;
        margin-left: 2.5%;
    }
    .assunto{
        margin-top:2%;
        width:79%;
    }
    .receita{
        margin-top:2%;
        width:62%;
    }
    .mensagem{
        margin-top:2%;
        width:98%;
    }
    .origem{
        margin-top:2%;
        width: 40%;
    }
    .outras{
        margin-top:2%;
        width: 83%;
    }
    .enviar{
        width:98%;
        margin-top:2%;
    }
}