*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    padding: 32px;
    background-color: #fff;
    box-shadow: 8px 0px 32px rgba(0 0 0 / .56);
    border-radius: 14px;
    width: fit-content; 
}

#app{
    display: grid;
    grid-template-rows: 40px 1fr;
    gap: 24px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
}

header i{
    padding: 16px;
    border-radius: 50%;
    color: #666;
}

header i:hover{
    background-color: #ECE0F0;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main section{
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.103);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}
main section#dia{
    grid-template-columns: repeat(7,1fr);
}
main section > div{
    width: 82px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    transition: all 300ms;
    margin: 10px;
}

main section > div:hover{
    background-color: #ECEDF0;
    cursor: pointer;
    border-radius: 8px;
}

main section > div.active{
    background: #6200EE;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    position: relative;
}

main section > div.active::after{
    content: '';
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
}

@media (max-width:830px) {
    html, body{
        overflow: visible;
    }
    body{
        height: 100%;
    }
    main section{
        width: 100%;
        gap:1px;
        font-size: 1rem;
        grid-template-columns: repeat(6, 1fr);
        place-content: center;
    }
    main section > div{
        padding-inline: 2px;
        width: 50px;
        gap:1px;
    }
}
@media (max-width:576px) {
    main section{
        font-size: .7rem;
    }
    main section{
        grid-template-columns: repeat(4, 1fr);
    }
     main section > div{
        width: 40px;
    }
}