@charset "UTF-8";

h1 , h2 {
    margin: 2rem ;
    text-align:center;
}
main div {
    display: flex;
    flex-direction: column;
}
main div div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.folder{
    width:33%;
}

.largura_1{
    height:300px;
}

.largura_2{
    height:450px;
}

.logo{
    width:20%;
}

.cartao{
    width:39%;
}

.pagina{
    width:33%;
}

.cartaz{
    width:43%;
}