body{
    background-color: black;
}
h1{
    text-align: center;
}
h2{
    color: white;
}
a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.linha{
    display: inline;
}
main{
    text-align: center;
}
