@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url("../img/fundo.png");
}

header , main , footer{
    margin: .5% 10%;
}

header{
    width:83%;
}

.logo{
    width: 100%;
}

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    display: none;
}

nav::after{
    content: '';
    clear: both;
    display: table;
}

nav ul{
    background-color: #ffffff8f;
    padding-top:1px;
}

nav ul li {
    padding-bottom: 7px;
    margin: 5px;
    list-style-type: none;
    font-size: 1em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 8px
}

nav ul li a:hover {
    color: rgba(0, 0, 0, 0.616);
    text-decoration: none
}

.show, input , .icon{
    display: none;
}

.icon{
    height:50px;
    margin-right:-5.6%;
}

.img-logo{
    width:58%;    
}

.img-header{
    width:19%;
}

.img-section , .img-section-2{
    margin-top:1em;
}

.img-section{
    margin-left:1em;
}

.img-section-2{
    margin-left:7em;
}

main{
    background-color:#ffffff8f;
    width:80.3%;
}

section , article{
    display:inline-block;
}

section{
    width:20%;
    float:left;
}

article{
    width:80%;
}

.normal{
    height: 490px;
}

article p{
    padding: .5em 1em;
}

.img-article , div{
    display:inline-block
}

.img-article{
    margin:1em;
}

div{
    width:58%;
    margin:3em .5em;
    float:right;
}

div h1 , div p{
    margin:1em;
    text-align:center;
}

footer{
    background-color:#ffffff8f;
    text-align:center;
    padding:.5em;
    clear:both;
}

@media(max-width: 1024px){
    nav{
        width:180px;
    }

    .img-section , .img-section-2{
        margin-left:23%;
    }

    .img-article{
        width:40%;
        margin-left:30px;
    }

    div{
        width:50%;
        margin-top:20px;
    }

    article p{
        padding: .5em 2em;
    }
    
}

@media(max-width: 768px){
    nav{
        background-color:rgba(0, 0, 0, 0.315);
        position:absolute;
        width:100%;
        margin-top:-18%;
        margin-left:-10%;
    }

    nav ul{
        margin-right: 0px;
        width:100%;
        float:left;
    }

    nav .logo{
        padding-left: 30px;
        width: 100%;
    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }

    nav ul ul li{
        margin-left:1em;
    }

    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .show{
        display: block;
        font-size: 18px;
        padding: 0 20px;
        line-height: 20px;
        cursor: pointer;
        font: bold 1em ariel;
    }

    .show:hover{
        color: white;
    }

    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        margin-right:-4.7%;
        margin-top:0;
        cursor: pointer;
    }

    nav ul li a{
        display: block;
        padding: .1em 0 .1em 1.2em;
        text-align: left;
        border: none;
        width: 125px;
        background-image: none;
        color: #ffffff;
        text-decoration: none;
        color: #000000;
        font: bold 1em ariel;
    }
    
    nav ul li a:hover{
        box-shadow: none;
    }

    .show + a, ul{
        display: none;
    }

    [id^=btn]:checked + ul{
        display: block;
    }

    .img-section , .img-section-2{
        display:none;
    }

    .img-article , div{
        display:block;
    }

    .img-article{
        width:40%;
        margin-left:40%;
    }

    div{
        float:none;
        width:130%;
        margin-top:20px;
        margin-bottom:-20px;
    }

    div p{
        text-align:left;
    }

    article > p{
        padding: .5em 3.2em;
        width:105%;
    }
}

@media(max-width: 425px){    
    .icon{
        margin-right:-9%;
    }

    .img-article{
        width:100%;
        margin-left:35px;
    }

    div{
        width:130%;
        margin-top:20px;
        margin-left:-1em;
    }

    article p{
        padding: .5em 2em;
    }
    
}

@media(max-width: 375px){
    .icon{
        margin-right:-10%;
    }
}

@media(max-width: 320px){
    .icon{
        margin-right:-12%;
    }
}
