@charset "UTF-8";
body{
    background-color: lightgoldenrodyellow; 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: dodgerblue; 
    color: midnightblue; 
    font-size: 1,5;
}
h2{
    color: darkred; 
    font-size: 1,3;
}
p{
    text-align: justify;
}

#button{
    display: flex;
    width: 100%;
    padding: .5rem;
    justify-content: center;
}
