* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
	font-family: 'Space Grotesk', sans-serif;
	background: url('../assets/hero.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: #F3F4FE;
	justify-content: center;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 100vh;
	margin: 0 auto;
	gap: 32px;
}

.content{
	width: 490px;
	height: 366px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.content h1{
	color: #F3F4FE;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	text-transform: uppercase;	
	background: var(--linear, linear-gradient(90deg, #DEE0FC 0%, #996DFF 51.04%, #BC9FFF 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	max-width: 350px;
	margin-bottom: .5px;
}

.content label{
	color: var(--gray-light, #F3F4FE);
	font-family: Space Grotesk;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	text-transform: uppercase;
}

.input{
	display: flex;
	align-items: center;
	gap: 12px;
	background: #F3F4FE;
	padding: 16px 12px;
}

input{
	border: none;
	outline: none;
	width: 100%;
}

input, input::placeholder{
	color: var(--gray-dark, #202024);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; 
	background-color: #F3F4FE;
}

.sucess{
	display: flex;
	align-items: center;
	color: var(--gray-light, #F3F4FE);
	font-family: Space Grotesk;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; 
	text-transform: uppercase;
}

.sucess img{
	display: none;
	margin-right: 10px;
}

#error{
	display: none;
	color: var(--danger, #FF8F8F);
	font-family: 'Roboto';
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; 
}

button{
	display: flex;
	padding: 1.375rem 2.5rem;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	align-self: stretch;
	background: #8860E6;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Roboto';
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.ticket{
	display: flex;
	background: url('../assets/card.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 694px;
	height: 408px;
}


.ticket-container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 45px;
}

.info{
	display: flex;
	flex-direction: column;
	padding: 20px;
	color: #202024;
	background: #F3F4FE;
}

.user-ticket-info{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-bottom: 36px;
}

.user-ticket-info span{
	color: var(--purple-normal, #8860E6);
	text-align: center;
	font-family: 'Space Grotesk';
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 125%; 
	letter-spacing: 1.26px;
	text-transform: uppercase;
}

.user-ticket-info h1{
	color: var(--gray-dark, #202024);
	text-align: center;
	font-family: 'Roboto';
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: 125%;
}

.user-ticket-info img{
	width: 127px;
	height: 128px;
	border-radius: 63.5px;
}

.event-ticket-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2px;
}

.event-ticket-info span{
	color: var(--gray-dark, #202024);
	font-family: 'Space Grotesk';
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 1.05px;
	text-transform: uppercase;
}

.event-ticket-info span:nth-child(2){
	font-weight: 700;
}